<div 
	class="app-container location-stats-page" 
	data-ng-controller="locationStatsCtrl"
	data-ng-show="userDataLoaded">
	<div class="app-container__title">
		{{currentLoc.name}}
	</div>
	<!-- Conetnt Block -->
	<div class="content-block lighter-purple">
		<div class="content-block__header">
			<i class="content-block__icon statistics"></i>
			<span>Statistics</span>
		</div>
		<div class="content-block__body">
			<!-- Statistics Content -->
			<!-- Realtime -->
			<div 
				class="b-statistics__realtime" 
				data-ng-include="'app/components/locationStats/realtimeStats/realtimeView.html'">		
			</div>
			<!-- /Realtime -->
			<!-- Analytics -->
			<!-- <div class="b-statistics__analytics"> -->
			<div data-ng-include="'app/components/locationStats/traficStats/traficStatsView.html'"></div>
			<!-- </div> -->
			<!-- /Analytics -->
			<!-- /Statistics Content -->
		</div>
	</div>
	<!-- /Content Block -->
</div>