<div data-ng-controller="visitByHourOfDayChartCtrl">
	<!-- Chart container -->
	<div class="b-chart-container">
		<div class="b-chart-container__title">
			Visit by Hour of Day
		</div>
		<div class="b-chart-container__content">
			<!-- Chart view -->
			<div class="b-chart b-chart_bar">
			    <div class="b-chart__wrap">
			        <div class="b-chart__chart b-location-stat__conv-line-chart" data-ng-hide="loading || loadingErr">
			            <canvas class="chart chart-bar" 
			            		height="370" 
			                    chart-data="chart.data" 
			                    chart-series="chart.series"
			                    chart-labels="chart.labels"
			                    chart-options="chart.options"
			                    chart-colors="chart.colors"
			                    chart-dataset-override="chart.datasetOverride">
			            </canvas>
			        </div>
			        <!-- Chart progress -->
			        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
			            <div class="b-icon-progress"></div>
			        </div>
			        <!-- /Chart progress -->
			        <!-- Chart retry -->
			        <div class="b-chart__retry"  data-ng-show="loadingErr">
			            <div class="b-chart__retry-title">Chart loading error</div>
			            <div class="b-chart__retry-btn">
			                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
			            </div>
			        </div>
			        <!-- /Chart retry -->
			    </div>
			</div>
			<!-- /Chart view -->
		</div>
	</div>
	<!-- /Chart container -->
</div>