<div class="app-control" data-ng-init="editorDisplayed = false">
    <div class="app-control__content cf" data-ng-click="editorDisplayed = !editorDisplayed">
        <div class="app-control__icon">
            <img data-ng-src="{{app | appToImg}}" alt="Application icon">
        </div>
        <div class="app-control__info">
            <div class="app-control__title">
                {{app.name | appToName}}.
            </div>
            <div class="app-control__descr">
                {{app.name | appToDesc}}
            </div>
        </div>
        <div class="app-control__control">
            <div class="app-control__active">
                <md-switch 
                    data-ng-model="app.active" 
                    data-ng-change="activeChangedInnerEvent()" 
                    data-uib-popover="Activate your first app!"
                    data-popover-is-open="showActivationTooltip" 
                    data-popover-enable="(app.name == 'graphics') && !app.active" aria-label="Change app state">
                </md-switch>
            </div>
        </div>
        <div class="app-control__widget" data-ng-show="app.active">
            <!-- Loading -->
            <div data-ng-show="app.paramsPopulateInProcess" class="app-control__widget-loading">
                <i class="icon-spin4 animate-spin"></i>
            </div>
            <!-- /Loading -->
            <!-- Widgets -->
            <div data-ng-hide="app.paramsPopulateInProcess">
                <app-widget-graphics data-ng-if="app.name == 'graphics'" data-app="app" data-item-name="graphic"></app-widget-graphics>
                <app-widget-graphics data-ng-if="app.name == 'webview'" data-app="app" data-item-name="page"></app-widget-graphics>
                <app-widget-twitter data-ng-if="app.name == 'twitter'" data-app="app"></app-widget-twitter>
            </div>
            <!-- /Widgets -->
        </div>
        <!-- 
        <div class="app-control__duration" data-ng-show="app.active">
            <a href="#" mdc-datetime-picker date="false" time="true" minutes="true" min-date="minDate" format="HH:mm" data-ng-model="app.duration" data-ng-change="durationChanged()">
                <span class="app-control__duration-time"><span class="app-control__clock"></span> {{app.duration}} min</span><br>
                <span class="app-control__duration-label">Max duration</span><br>
            </a>
        </div> 
        -->
        <div class="app-control__hash" data-ng-if="app.name == 'twitter'" data-ng-show="app.active">
            <app-widget-hash data-app="app"></app-widget-hash>
        </div>
    </div>
    <div class="app-control__editor" data-ng-show="editorDisplayed">
        <!-- Twitter -->
        <div data-ng-if="app.name == 'twitter'" 
             data-ng-include="'app/components/deviceApps/appEdit/appEditTwitterView.html'">
        </div>
        <!-- /Twitter -->
        <!-- Graphics -->
        <div data-ng-if="app.name == 'graphics'" 
             data-ng-include="'app/components/deviceApps/appEdit/appEditGraphicsView.html'">
        </div>
        <!-- /Graphics -->
        <!-- Webview -->
        <div data-ng-if="app.name == 'webview'"
             data-ng-include="'app/components/deviceApps/appEdit/appEditWebviewView.html'">
        </div>
        <!-- /Webview -->
    </div>
</div>