.app-control{
	box-sizing: border-box;
	position: relative;

	/*============ Info ============*/

	&__icon{
		float: left;
		margin-left: 24px;
		margin-top: 30px;
		margin-bottom: 30px;
		img{
			width: 50px;
		}
	}
	&__info{
		float: left;
		margin-left: 39px;
		margin-top: 30px;
	}
	&__title{
		font-size: 16.6px;
		font-weight: bold;
		color: $bright-blue;
		a{
			&, &:link, &:visited, &:active, &:hover{
				color: $bright-blue;
				text-decoration: none;
			}
		}
	}
	&__descr{
		margin-top: 4px;
		width: 192px;
		font-size: 13.3px;
		font-weight: 500;
		color: $greyish-brown;
		a{
			&, &:link, &:visited, &:active, &:hover{
				color: $greyish-brown;
				text-decoration: none;
			}
		}
	}

	/*============ Hash ============*/

	&__hash{
		float: right;
		margin-right: 24px;
		margin-top: 48px;
		width: 240px;
	}

	/*============ Widget ============*/

	&__widget{
		float: right;
		margin-right: 24px;
	}

	&__widget-loading{
		margin-top: 41px;
	}

	/*============ Controls ============*/

	&__control{
		float: right;
		height: 100%;
	}
	&__active{
		position: relative;
		right: -14px;
		top: 22px;
		.popover{
			width: 120px !important;
			left: -75px !important;
			top: -60px !important;
			border: 1px solid $clear-blue-two;
			background-color: white;
			box-shadow: none;
			z-index: 1;
			.popover-inner{
				background-color: white;
				text-align: center;
				.popover-content{
					color: $bright-blue;
				}
			}
			.arrow{
				left: 80% !important;
			}
			&.top > .arrow{
				border-top-color: $clear-blue-two;
				&:after{
					border-top-color: white;
				}
			}
		}
	}
	&__edit{
		text-align: right;
		margin-top: 20px;
	}
	&__edit-btn{
		display: inline-block;
		margin-right: 12px;
		font-size: 24px;
		color: $gray-light;
		width: 24px;
		text-align: right;
		&:hover{
			text-decoration: none;
			opacity: .5;
		}
	}
	&__editor{
		box-sizing: border-box;
		padding: 0;
		border-top: 1px solid #f3f3f3;
	}
	&__content{
		padding: 15px;
		&:hover{
			background-color: #F1F1FF;
		}
	}
}

