<div data-ng-controller="realtimeStatsCtrl" class="realtime-stats">
    <!-- Infographic -->
    <div class="realtime-stats__infograph" 
         data-ng-hide="loading" 
         data-ng-controller="realtimeInfographCtrl">
        <!-- Realtime chart -->
        <div class="realtime-stats__chart">
            <circles-chart 
                data-items="chartRealtimeEvents" 
                data-type-field="eventMainLabel" 
                data-size-field="duration" 
                data-angle-field="angle" 
                data-distance-field="signalStrength" 
                data-id-field="eventId" 
                data-item-clicked="realtimeEventItemClick($event, item)"
                class="circles-chart">
            </circles-chart>
        </div>
        <!-- /Realtime chart -->
        <!-- Realtime data -->
        <div class="realtime-stats__data">
            <!-- Realtime total -->
            <div class="realtime-stats__total realtime-stats-total">
                <span class="realtime-stats-total__count">{{realtimeEvents.length}}</span>
                <span class="realtime-stats-total__text">real time visitors</span>
            </div>
            <!-- /Realtime total -->
            <!-- Realtime info -->
            <div class="realtime-stats__info realtime-stats-info">
                <div class="realtime-stats-info__header"><span>Visitor type</span></div>
                <div class="realtime-stats-info__items">
                    <div class="realtime-stats-info__item realtime-stats-info__item_visitors realtime-stats-visitors-desc">
                        <div>
                            <span class="realtime-stats-visitors-desc__count">{{realtimeEventsProcentByType('visit')}}<span class="realtime-stats-visitors-desc__procent">%</span></span>
                            <visitors-progress-chart class="realtime-stats-visitors-desc__progress visitors-progress-chart" procent="realtimeEventsProcentByType('visit')"></visitors-progress-chart>
                        </div>
                        <div class="realtime-stats-visitors-desc__text">
                            Visitors {{realtimeEventsCountByType('visit')}} people
                        </div>
                    </div>
                    <div class="realtime-stats-info__item realtime-stats-info__item_bonused realtime-stats-visitors-desc">
                        <div>
                            <span class="realtime-stats-visitors-desc__count">{{realtimeEventsProcentByType('bounce')}}<span class="realtime-stats-visitors-desc__procent">%</span></span>
                            <visitors-progress-chart class="realtime-stats-visitors-desc__progress visitors-progress-chart" procent="realtimeEventsProcentByType('bounce')"></visitors-progress-chart>
                        </div>
                        <div class="realtime-stats-visitors-desc__text">
                            Bounced {{realtimeEventsCountByType('bounce')}} people
                        </div>
                    </div>
                    <div class="realtime-stats-info__item realtime-stats-info__item_walkbys realtime-stats-visitors-desc">
                        <div>
                            <span class="realtime-stats-visitors-desc__count">{{realtimeEventsProcentByType('walkby')}}<span class="realtime-stats-visitors-desc__procent">%</span></span>
                            <visitors-progress-chart class="realtime-stats-visitors-desc__progress visitors-progress-chart" procent="realtimeEventsProcentByType('walkby')"></visitors-progress-chart>
                        </div>
                        <div class="realtime-stats-visitors-desc__text">
                            Walkbys {{realtimeEventsCountByType('walkby')}} people
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Realtime info -->
        </div>
        <!-- /Realtime data -->
    </div>
    <!-- /Infographic -->
    <!-- Timeline -->
    <div class="realtime-stats__timeline">
        <div class="realtime-stats-timeline">
            <div class="realtime-stats-timeline__controls">
                <a href="#" 
                   class="realtime-stats-timeline__control" 
                   data-ng-hide="realtimePlaying || realtimePlayerLoading"
                   data-ng-click="realtimePlayClick()">
                    <i class="icon-play"></i>
                </a>
                <a href="#" 
                   class="realtime-stats-timeline__control"
                   data-ng-show="realtimePlaying && !realtimePlayerLoading"
                   data-ng-click="realtimePauseClick()">
                    <i class="icon-pause"></i>
                </a>
                <span data-ng-show="realtimePlayerLoading" class="realtime-stats-timeline__control">
                    <i class="icon-spin4 animate-spin"></i>
                </span>
            </div>
            <div class="realtime-stats-timeline__bar">
                <timeline-control data-value="realtimePlayVal"
                                data-value-min="{{realtimePlayingStart}}"
                                data-value-max="{{realtimePlayingEnd}}"
                                data-tooltip-left="An hour ago"
                                data-tooltip-right="Current time"
                                data-tooltip-handler="{{realtimePlayValToStr()}}"
                                data-on-changed="realtimeTimelineValChanged($event, val)"
                                data-on-handler-mouse-down="realtimeTimelineHandlerMouseDown()">   
                </timeline-control>
            </div>
        </div>
    </div>
    <!-- /Timeline -->
</div>