.realtime-stats{
    position: relative;
    &__connected{
        position: absolute;
        top: 4px;
        right: 0;
    }
    &__infograph{
        position: relative;
        @media (min-width: $screen-desktop){
            display: flex;
            justify-content: space-between;
        }
    }
    &__chart{
        order: 1;
        margin: 0 auto;
        width: 100%;
    }
    &__data{
        color: #1956fc;
        width: 500px;
        margin-right: 180px;
        order: 0;
    }
    &__total{
        padding-top: 0px;
    }
    &__timeline{
        margin-top: 40px;
        padding: 20px 20px 60px 0px;
    }
}

.realtime-stats-total{
    position: relative;
    &:after{
        content: ' ';
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #1956fc;
    }
    &__count{
        font-weight: bold;
        font-size: 52px;
    }
    &__text{
        text-transform: uppercase;
        font-size: 16px;
    }
}

.realtime-stats-info{
    &__header{
        text-transform: uppercase;
        margin-top: 18px;
        font-size: 18px;
        span{
            display: inline-block;
            position: relative;
            &:after{
                content: ' ';
                display: block;
                position: absolute;
                bottom: -4px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: #1956fc;
            }
        }
    }
    &__items{
        margin-top: 46px;
    }
    &__item{
        margin-top: 14px;
        &:first-child{
            margin-top: 0px;
        }
        &_visitors{
            color: #ffffff;
        }
        &_bonused{
            color: #970af2;
        }
        &_walkbys{
            color: #1ed8cf;
        }
    }
}

.realtime-stats-visitors-desc{
    &__count{
        display: inline-block;
        width: 70px;
        font-weight: bold;
        font-size: 36px;
    }
    &__procent{
        font-size: 16px;
    }
    &__progress{
        display: inline-block;
        margin-left: 10px;
    }
    &__text{
        color: white;
        font-size: 10px;
        margin-top: 2px;
    }
}

.realtime-stats-timeline{
    display: flex;
    &__controls{
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 30px;
        text-align: center;
        line-height: 25px;
        text-align: center;
        font-size: 25px;
        overflow: hidden;
        font-size: 20px;
    }
    &__control{
        display: block;
        color: white;
        @include transition(opacity .2s ease-in-out);
        &:active,
        &:visited,
        &:link{
            color: white;
        }
        &:hover{
            opacity: .7;
        }
    }
    &__bar{
        padding-top: 10px;
        width: 100%;
    }
}