<div data-ng-controller="companyBillingCtrl" >
    <!-- Loading -->
    <div data-ng-show="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
    </div>
    <!-- /Loading -->
    <!-- Company billing form -->
    <form name="companyBillingForm" class="settings-form-block" data-ng-hide="loading" data-ng-submit="billingFormSubmited()">
        <!-- DropIn container -->
        <div id="dropin-container"></div>
        <!-- /DropIn container -->
        <!-- First name -->
        <div>
            <md-input-container class="w-100">
                <label>First name</label>
                <input 
                    required 
                    type="text" 
                    name="firstName"
                    data-ng-model="billing.billingAddress.billingFirstName"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.firstName.$error" 
                    data-ng-show="!companyBillingForm.firstName.$valid && companyBillingForm.firstName.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">First name is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /First name -->
        <!-- Last name -->
        <div>
            <md-input-container class="w-100">
                <label>Last name</label>
                <input 
                    required 
                    type="text" 
                    name="lastName"
                    data-ng-model="billing.billingAddress.billingLastName"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.lastName.$error" 
                    data-ng-show="!companyBillingForm.lastName.$valid && companyBillingForm.lastName.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">Last name is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /Last name -->
        <!-- Phone -->
        <div>
            <md-input-container class="w-100">
                <label>Phone</label>
                <input 
                    required 
                    type="text" 
                    name="phone"
                    data-ng-model="billing.billingAddress.phone"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.phone.$error" 
                    data-ng-show="!companyBillingForm.phone.$valid && companyBillingForm.phone.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">Phone is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /Phone -->
        <!-- Address -->
        <div>
            <md-input-container class="w-100">
                <label>Address</label>
                <input 
                    required 
                    type="text" 
                    name="address"
                    data-ng-model="billing.billingAddress.address"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.address.$error" 
                    data-ng-show="!companyBillingForm.address.$valid && companyBillingForm.address.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">Address is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /Address -->
        <!-- address2 -->
        <div>
            <md-input-container class="w-100">
                <label>Aditional address</label>
                <input 
                    type="text" 
                    name="address2"
                    data-ng-model="billing.billingAddress.address2"
                >
            </md-input-container>
        </div>
        <!-- /address2 -->
        <!-- City -->
        <div>
            <md-input-container class="w-100">
                <label>city</label>
                <input 
                    required 
                    type="text" 
                    name="city"
                    data-ng-model="billing.billingAddress.city"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.city.$error" 
                    data-ng-show="!companyBillingForm.city.$valid && companyBillingForm.city.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">City is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /City -->
        <!-- State -->
        <div>
            <md-input-container class="w-100">
                <label>State</label>
                <input 
                    required 
                    type="text" 
                    name="state"
                    data-ng-model="billing.billingAddress.state"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.state.$error" 
                    data-ng-show="!companyBillingForm.state.$valid && companyBillingForm.state.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">State is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /State -->
        <!-- Country -->
        <div>
            <md-input-container class="w-100">
                <label>Country</label>
                <input 
                    required 
                    type="text" 
                    name="country"
                    data-ng-model="billing.billingAddress.country"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.country.$error" 
                    data-ng-show="!companyBillingForm.country.$valid && companyBillingForm.country.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">Country is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /Country -->
        <!-- Zip -->
        <div>
            <md-input-container class="w-100">
                <label>Zip</label>
                <input 
                    required 
                    type="text" 
                    name="zip"
                    data-ng-model="billing.billingAddress.zip"
                >
                <div 
                    class="md-input-message" 
                    data-ng-messages="companyBillingForm.zip.$error" 
                    data-ng-show="!companyBillingForm.zip.$valid && companyBillingForm.zip.$dirty" 
                    multiple
                >
                    <div data-ng-message="required">Zip is required.</div>
                </div>
            </md-input-container>
        </div>
        <!-- /Zip -->
        <!-- Save -->
        <div class="row">
            <div class="col-md-11">
                <md-button type="submit" 
                           class="md-raised btn-w-md md-primary"
                           data-ng-disabled="!companyBillingForm.$valid || processing">
                           SAVE
                </md-button>
            </div>
            <div class="col-md-1"  data-ng-show="processing">
                <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="progress__unsized"></md-progress-circular>
            </div>
        </div>
        <!-- /Save -->
    </form>
    <!-- /Company billing form -->
</div>