<div 
	class="app-container location-edit-page" 
	data-ng-controller="locationEditCtrl"
	data-ng-show="userDataLoaded">
	<!-- Title -->
	<div class="app-container__title app-container-navigation">
		<!-- Navigation -->
		<div class="app-container-navigation__navigation">
			<span class="app-container-navigation__back">
				<a href="#"
				   data-ui-sref="locationWithId({locId: currentLoc.id})">
					<i class="app-icon app-icon-go-back">Go back</i>
				</a>
			</span>
			<span class="app-container-navigation__sep">&#124;</span>
			<span class="app-container-navigation__text">
				{{currentLoc.name}}
			</span>
		</div>
		<!-- /Navigation -->
	</div>
	<!-- /Title -->
	<!-- Conetnt Block -->
	<div class="content-block aqua-marine">
		<div class="content-block__header">
			<span>Edit location</span>
		</div>
		<div class="content-block__body">
			<!-- Location Edit Form -->
			<form name="locationEditForm">
				<!-- Name -->
				<div class="row">
				    <div class="col-md-12">
				    	<md-input-container class="w-100">
				    	    <label>Location name</label>
				    	    <input 
				    	        required 
				    	        type="text" 
				    	        name="name"
				    	        data-ng-model="locData.name">
				    	    <div 
				    	        data-ng-messages="locationEditForm.name.$error" 
				    	        data-ng-show="!locationEditForm.name.$valid && locationEditForm.name.$dirty" 
				    	        multiple>
				    	        <div data-ng-message="required">Name is required.</div>
				    	    </div>
				    	</md-input-container>
				    </div>
				</div>
				<!-- /Name -->
				<!-- Address -->
				<div class="row">
				    <div class="col-md-12">
				    	<md-input-container class="w-100">
				    	    <label>Address</label>
				    	    <input 
				    	        required 
				    	        type="text" 
				    	        name="address"
				    	        data-ng-model="locData.address">
				    	    <div 
				    	        data-ng-messages="locationEditForm.address.$error" 
				    	        data-ng-show="!locationEditForm.address.$valid && locationEditForm.address.$dirty" 
				    	        multiple>
				    	        <div data-ng-message="required">Address is required.</div>
				    	    </div>
				    	</md-input-container>
				    </div>
				</div>
				<!-- /Address -->
				<!-- Buttons -->
				<div class="row">
					<div class="col-md-2">
						<a 
							href="#" 
							class="btn btn-blue w-100"
							data-ng-click="saveClicked($event)"
							data-ng-class="{'btn-loading': saveInProcess}">Save</a>
					</div>
					<div class="col-md-offset-8 col-md-2">
						<a 
							href="#" 
							class="btn btn-red w-100"
							data-ng-click="removeClicked($event)"
							data-ng-class="{'btn-loading': removeInProcess}">Remove</a>
					</div>
				</div>
				<!-- /Buttons -->
			</form>
			<!-- /Location Edit Form -->
		</div>
	</div>
	<!-- /Content Block -->
</div>