<div class="auth-container">
    <div class="auth-container__title">
        Reset Password
    </div>
    <!-- Content -->
    <div class="auth-container__content">
        <!-- Form -->
        <form class="form-flat" name="dataForm" data-ng-controller="ForgotPassCtrl">
            <div class="form-flat-row" data-ng-if="!emailToken">
                <!-- Email -->
                <md-input-container class="form-flat-input-text">
                    <label>Email</label>
                    <input required
                           type="email"
                           name="email"
                           data-ng-model="$parent.email"
                           data-focus-me="focus.email"
                           data-ng-keypress="fieldKeyPressed($event, 'email')"
                           data-ng-pattern="/^.+@.+\..+$/" />
                    <div 
                        class="md-input-message" 
                        data-ng-show="dataForm.email.$invalid && dataForm.email.$touched" 
                        data-ng-messages="dataForm.email.$error" 
                        multiple>
                        <div data-ng-message="required">Email is required.</div>
                        <div data-ng-message="pattern">It must be an e-mail address.</div>
                    </div>
                </md-input-container>
                <!-- /Email -->
            </div>
            <div class="form-flat-row" data-ng-if="emailToken">
                <!-- Pass -->
                <md-input-container class="form-flat-input-text">
                    <label>Password</label>
                    <input 
                        required
                        type="password"
                        name="password"
                        data-ng-minlength="4"
                        data-ng-model="$parent.password"
                        data-focus-me="focus.pass"
                        data-ng-keypress="fieldKeyPressed($event, 'pass')">
                    <div 
                        data-ng-messages="dataForm.password.$error"
                        data-ng-show="dataForm.password.$invalid && dataForm.password.$touched"
                        multiple>
                        <div data-ng-message="required">Password is required.</div>
                        <div data-ng-message="minlength">Your password is too short.</div>
                    </div>
                </md-input-container> 
                <!-- /Pass -->
            </div>
            <div class="form-flat-row g-text-center no-margin-top">
                <div 
                    class="form-flat-err"
                    data-ng-class="{'not-showed': !err.reset && !err.restore}">
                    <span data-ng-if="err.reset">Reset password error. Please check your data and try again.</span>
                    <span data-ng-if="err.restore">Restore password error. Please check your data and try again.</span>
                </div>
            </div>
            <div class="form-flat-row submit g-text-center">
                <!-- Continue btn -->
                <a 
                    class="btn-flat green bordered"
                    data-ng-class="{'loading': loading}" 
                    data-ng-disabled="!dataForm.$valid" 
                    data-ng-click="submitClicked()">
                    Continue
                </a>
                <!-- /Continue btn -->
            </div>
        </form>
        <!-- /Login Form -->
    </div>
    <!-- /Content -->
    <!-- Footer -->
    <div class="auth-container__footer">
        <div class="auth-container-copyright">
            © 2016 Pando Inc. All rights reserved.<br/>
            <a data-ui-sref="page.privacy" target="_blank">Privacy policy</a><br/>
            <span data-ng-if="version">v{{version}}</span>
        </div>
    </div>
    <!-- /Footer -->
</div>