.app-modal{
	position: relative;
	padding: 40px 84px;
}

.app-modal__header{
	text-align: center;
	font-size: 18.9px;
	font-weight: bold;
	color: $blue;
	text-transform: uppercase;
	.app-icon{
		max-width: 30px;
		max-height: 30px;
		margin-right: 13px;
		vertical-align: middle;
	}
	& > span{
		vertical-align: middle;
	}
}

.app-modal__body{
	margin-top: 35px;
}

.app-modal__footer{
	text-align: center;
	margin-top: 31px;
	&.text-center{
		text-align: center;
	}
	&.text-right{
		text-align: right;
	}
	&.text-left{
		text-align: left;
	}
}

.app-modal__close{
	position: absolute;
	right: 16px;
	top: 16px;
	display: block;
	width: 15px;
	height: 15px;
	background: url('/assets/img/ui/components/icon-cross.svg');
	background-size: 15px 15px;
	&:hover{
		opacity: .5;
	}
}

.app-modal__tooltip{
	color: $brand-primary;
	font-weight: bold;
	font-size: 12px;
}

.app-modal__title{
	color: $brand-primary;
	font-weight: bold;
	font-size: 28px;
	font-weight: bold;
}