.apps-collaps-btn{
	color: $brownish-grey;
	font-size: 15.3px;
	font-weight: 500;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	&:active, &:link, &:visited{
		color: $brownish-grey;
	}
	&:hover{
		color: $brownish-grey;
		text-decoration: none;
	}
	&:after{
		background-image: url('/assets/img/ui/icons/pando-icon-arrow-down.svg');
		background-size: 20px 20px;
		content: ' ';
		display: inline-block;
		height: 20px;
		position: absolute;
		top: 1px;
		right: -25px;
		width: 20px;
	}
	&.collapsed:after{
		@include transform(rotate(180deg));
		top: 0px;
	}
}