.app-icon{
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	&-no-apps{
		background-image: url(/assets/img/app/icon-no-apps@3x.png);
		width: 47px;
		height: 50px;
	}
	&-no-stats{
		background-image: url(/assets/img/app/icon-no-statistics@3x.png);
		width: 50px;
		height: 50px;
	}
	&-no-devices{
		background-image: url(/assets/img/app/icon-no-devices@3x.png);
		width: 180px;
		height: 115px;
	}
	&-go-back{
		background-image: url(/assets/img/app/icon-apps-goback@3x.png);
		width: 10.7px;
		height: 17.1px;
	}
	&-web-view-app{
		background-image: url(/assets/img/app/icon-app-webview@3x.png);
		width: 48px;
		height: 49px;
	}
}