.apps-list{
	margin-bottom: 20px;
	list-style: none;
	padding-left: 0;
	.disabled{
		color: #ccc;
	}
	&__item{
		padding: 0;
		border-bottom: 2px solid $white-three;
		&:last-child{
			border-bottom: none;
		}
	}
}