.app-container-navigation{
	display: flex;
	@media (max-width: $screen-tablet){
		display: block;
	}
	&__navigation{
		
	}
	&__back{
		display: inline-block;
		margin-right: 18px;
		.app-icon{
			vertical-align: middle;
		}
		&:hover{
			opacity: .7;
		}
	}
	&__sep{
		display: inline-block;
		margin-right: 18px;
		@media (max-width: $screen-tablet){
			display: none;
		}
	}
	&__text{
		display: inline-block;
		margin-right: 45px;
		a{
			&, &:link, &:visited, &:active{
				color: $pinkish-grey;
				text-decoration: none;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__content{
		flex: 1;
		margin-right: 10px;
		@media (max-width: $screen-tablet){
			margin-right: 0px;
		}
		a{
			&, &:link, &:visited, &:active{
				font-size: 12.7px;
				display: inline-block;
				text-decoration: none;
				color: $warm-grey;
				margin-right: 27px;
				@media (max-width: $screen-tablet){
					display: block;
					margin-top: 10px;
					font-size: 16px;
					margin-left: 34px;
				}
			}
			&:hover, &.active{
				color: $bright-blue;
				text-decoration: underline;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&__right{
		font-size: 13px;
		color: $greyish-brown;
		md-checkbox{
			.md-container{
				width: 13px;
				height: 13px;
			}
			.md-icon{
				width: 13px;
				height: 13px;
				&:after{
					left: 3.67px;
					top: 1.22px;
					width: 5.67px;
					height: 9.33px
				}
			}
		}
		@media (max-width: $screen-tablet){
			margin-top: 10px;
			margin-left: 3px;
		}
	}
}