.btn{
	$loading-gradient-width: 3px;
	$loading-speed: 4s;

	@mixin btn-gradient ($gradient-color){
		background-image: repeating-linear-gradient(-45deg,transparentize($gradient-color, .5),transparentize($pando-color-gray, .5) $loading-gradient-width, white $loading-gradient-width, white $loading-gradient-width*2);
	}

	@mixin btn-border-color($border-color){
		border: 2px solid $border-color;
	}

	cursor: pointer;
	border-radius: 5px;
	font-size: 11.8px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	color: $bright-blue;
	@include btn-border-color($bright-blue);

	&:link, &:active, &:visited{
		color: $bright-blue;
	}
	&:hover{
		opacity: .7;
	}
	&-blue{
		background-color: $bright-blue;
		color: white;
		@include btn-border-color($bright-blue);
		&:link, &:active, &:visited{
			color: white;
		}
		&:hover{
			color: white;
		}
	}
	&-red{
		background-color: $red;
		color: white;
		@include btn-border-color($red);
		&:link, &:active, &:visited{
			color: white;
		}
		&.btn-loading{
			@include btn-gradient($red);
		}
		&:hover{
			color: white;
		}
	}
	&[disabled="disabled"]{
		color: white !important;
		background-color: $pando-color-gray;
		cursor: not-allowed;
		@include btn-border-color($pando-color-gray);
		&:hover{
			opacity: 1 !important;
			background-color: $pando-color-gray;
			text-decoration: none;
			color: white !important;
		}
	}
	&-loading{
		background-size: 150% 100%;
		cursor: not-allowed;
		@include btn-gradient($bright-blue);
		@include animation(progress $loading-speed linear infinite);
	}
}