.btn-flat{
	$loading-gradient-width: 3px;
	$loading-speed: 4s;

	font-size: 16.24px;
	padding: 9px 33.6px;
	text-transform: lowercase;
	display: inline-block;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	&:link, &:active, &:visited{
		text-decoration: none;
		color: $pando-color-blue;
		border-color: $pando-color-blue;
	}
	&:hover{
		opacity: .7;
		text-decoration: none;
	}
	&[disabled="disabled"]{
		color: $pando-color-gray !important;
		border-color: $pando-color-gray !important;
		cursor: not-allowed;
		&:hover{
			opacity: 1 !important;
			background-color: white;
			text-decoration: none;
		}
		&.loading{
			background-image: repeating-linear-gradient(-45deg,transparentize($pando-color-gray, .5),transparentize($pando-color-gray, .5) $loading-gradient-width, white $loading-gradient-width, white $loading-gradient-width*2);
		}
	}
	&.green{
		color: #35dbd7;
		border-color: $pando-color-green-light;
		&.loading{
			background-image: repeating-linear-gradient(-45deg,transparentize($pando-color-green-light, .7),transparentize($pando-color-green-light, .7) $loading-gradient-width, white $loading-gradient-width, white $loading-gradient-width*2);
		}
	}
	&.bordered{
		border-width: 3px;
		border-style: solid;
		border-radius: 5px;
	}
	&.loading{
		background-image: repeating-linear-gradient(-45deg,transparentize($pando-color-blue, .5),transparentize($pando-color-blue, .5) $loading-gradient-width, white $loading-gradient-width, white $loading-gradient-width*2);
		background-size: 150% 100%;
		@include animation(progress $loading-speed linear infinite);
	}
}

@-webkit-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@-moz-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}    
@-ms-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}    
@keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -70px 0px;
  }
} 

.btn-flat-link{
	font-size: 14px;
	&:link, &:active, &:visited{
		color: $pando-color-blue;
	}
	&:hover{
		text-decoration: underline;
		color: $pando-color-blue;
	}
}