.content-blocks-list{
	@media(min-width: $screen-desktop){
		display: flex;
		justify-content: space-between;
		.content-block{
			width: 436px;
		}
	}
}

.content-block{
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0px;
	}
	&__header{
		text-transform: lowercase;
		font-size: 18.3px;
		font-weight: bold;
		height: 66px;
		position: relative;
		padding: 0 25px;
		display: flex;
		align-items: center;
		& > a{
			display: block;
			width: 100%;
			height: 100%;
			cursor: pointer;
			display: flex;
			display: flex;
			align-items: center;
			margin: 0 -25px;
			padding: 0 25px;
			color: white;
			&:link, &:active, &:visited, &:hover{
				color: white;
				text-decoration: none;
			}
			& > span:hover, 
			& > i:hover{
				opacity: .7;
				@include transition(opacity .3s ease-in-out);
			}
		}
	}
	&__icon{
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 12px;
		&.apps{
			background-image: url(/assets/img/app/icon-apps@3x.png);
			width: 33px;
			height: 36px;
		}
		&.statistics{
			background-image: url(/assets/img/app/icon-statistics@3x.png);
			width: 31px;
			height: 30px;
		}
	}
	&__btn{
		display: block;
		font-size: 20px;
		font-weight: bold;
		position: absolute;
		right: 25px;
		top: 50%;
		margin-top: -16px;
		&, &:active, &:link, &:visited{
			text-decoration: none;
			color: #ffffff;
		}
		&:hover{
			opacity: .7;
		}
	}
	&__body{
		padding: 46px 52px;
		background-color: white;
	}
	&__tabs{
		ul{
			padding: 0;
			margin: 0;
			text-align: center;
			list-style: none;
			li{
				background-color: #ffffff;
				display: inline-block;
				padding: 11px;
				&:first-child{
					border-bottom-left-radius: 5px;
					padding-left: 20px;
				}
				&:last-child{
					border-bottom-right-radius: 5px;
					padding-right: 20px;
				}
				a{
					cursor: pointer;
					&, &:active, &:visited, &:link{
						font-size: 12px;
						color: $greyish-brown;
					}
					&:hover{
						color: $aquamarine;
						text-decoration: underline;
					}
				}
				&.active{
					a{
						color: $aquamarine;
						text-decoration: underline;
					}
				}
			}
		}
	}
	&.aqua-marine{
		.content-block__header{
			background-color: $aqua-marine;
			color: white;
		}
	}
	&.lighter-purple{
		.content-block__header{
			background-color: $lighter-purple;
			color: white;
		}
	}
	&.vibrant-blue{
		.content-block__header{
			background-color: $vibrant-blue;
			color: white;
		}
	}
}