.form-flat{
	&-row{
		margin-top: 16px;
		&:first-child{
			margin-top: 0px;
		}
		&.no-margin-top{
			margin-top: 0px;
		}
		&-small{
			margin-top: 8px;
		}
	}
	&-err{
		color: $pando-color-red;
		font-size: 14px;
		opacity: 1;
		display: block;
		min-height: 20px;
		@include transition(opacity .2s ease-in-out);
		&.not-showed{
			opacity: 0;
		}
	}
	&-alert{
		padding: 0;
		position: absolute;
		bottom: 0;
		color: $pando-color-red;
		margin-bottom: 0;
	}
}

.form-flat-input-text{
	width: 100%;
	margin-bottom: 0;
	label{
		color: $pando-color-green-light;
	}
	input{
		color: $pando-color-gray-dark;
		border-color: $pando-color-gray;
	}
	&:not(.md-input-invalid).md-input-has-value,
	&:not(.md-input-invalid).md-input-focused{
		label{
			color: $pando-color-green-light;
		}
		input{
			color: $pando-color-gray-dark;
			border-color: $pando-color-gray;
		}
	}
	&.md-input-invalid{
		input{
			color: $pando-color-red;
		}
	}
	.md-errors-spacer{
		height: 16px !important;
	}
}