.icon-img-close{
    width: 14.6px;
	height: 14.6px;
    display: inline-block;
    background-image: url('/assets/img/ui/components/icon-cross.svg');
    background-position: center;
    background-size: contain;
}