.locations-list{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
        padding: 0 43px;
        margin: 0;
        &:last-child{
            margin-right: 0;
        }
        a, a:active, a:visited, a:link{
            display: inline-block;
            position: relative;
            color: $brownish-grey;
            text-decoration: none;
            font-size: 14px;
        }
        a:hover{
            color: $clear-blue;
        }
        a .no-name{
            color: lighten($brownish-grey, 45%);
        }
        &.active{
            a{
                color: $clear-blue;
                @media (min-width: $screen-tablet){
                    &:before{
                        top: -10.8px - 22px;
                        content: ' ';
                        position: absolute;
                        width: 15px;
                        height: 22px;
                        background-image: url(/assets/img/ui/locations/icon-pin@3x.png);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}