.md-checkbox{
	&-blue{
		&.md-checked .md-icon{
			background-color: $bright-blue;
			color: white;
		}
	}
	&-dark-gray{
		&.md-checked .md-icon{
			background-color: $greyish-brown;
			color: white;
		}
	}
}