.md-radio-group{
	&-blue{
		md-radio-button{
			.md-on{
				background-color: rgba($bright-blue, .87);
			}
			.md-off{
				border-color: rgba($bright-blue, .87);
			}
			&.md-checked .md-ink-ripple{
				color: rgba($bright-blue, .26);
			}
		}
	}
}