.pando-modal{
	// Modificators
	&_center{
		.modal-dialog{
			margin: 0 auto 0 auto !important;
			position: absolute !important;
			top: 50% !important;
			left: 50% !important;
			transform: translateY(-50%) translatex(-50%) !important;
		}
	}
	&_transp-border{
		.modal-content{
			border: 9px solid rgba(255, 255, 255, .7);
		}
	}
	// Components
	&__wrap{
		position: relative;
		padding: 16px;
	}
	&__header{

	}
	&__content{
		padding-top: 10px;
	}
	&__footer{
		text-align: center;
		margin-top: 50px;
		button{
			min-width: 140px;
		}
	}
}

.pando-modal-header{
	@include g-cf;
	&__item{
		&_left{
			float: left;
		}
		&_right{
			float: right;
		}
	}
}

.pando-modal-icon-btn{
	display: block;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	&:hover{
		opacity: .5;
	}
	&_close{
		background-image: url('/assets/img/ui/components/icon-cross.svg');
	}
}