.tabs-flat{
	@mixin bottom-line (){
		&:after{
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -4px;
			height: 2px;
			background-color: #35dbd7;
		}
	}

	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	li{
		position: relative;
		display: block;
		padding: 0;
		margin-right: 103px;
		cursor: pointer;
		@media (max-width: $screen-tablet){
			margin-right: 50px;
		}
		@media (max-width: $screen-phone){
			margin-right: 30px;
		}
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			@include bottom-line();
		}
		&.active{
			@include bottom-line();
		}
	}
	a{	
		&, &:link, &:visited, &:active{
			color: #35dbd7;
			text-decoration: none;
			font-size: 24px;
			cursor: pointer;
		}
		
	}
}