<div class="pando-modal__wrap">
    <div class="pando-modal__header pando-modal-header">
        <div class="pando-modal-header__item pando-modal-header__item_right">
            <a href="#" class="pando-modal-icon-btn pando-modal-icon-btn_close" data-ng-click="cancel()"></a>
        </div>
    </div>
    <div class="pando-modal__content">
        <!-- User history -->
        <div class="b-user-history" data-ng-controller="userHistoryStatsCtrl">
            <!-- User history desc -->
            <div class="b-user-history__desc">
                <div class="b-user-history__title">
                    <div class="b-section-title b-section-title_underline">
                        User history
                    </div>
                </div>
                <div class="b-user-history__id">
                    <div>Pando ID:</div>
                    <div class="b-user-history__id-wrap">{{eventItem.pandoId}}</div>
                </div>
                <div class="b-user-history__legend">
                    <ul class="b-chart-legend">
                        <li class="b-chart-legend__item b-chart-legend__item_green">Walkby</li>
                        <li class="b-chart-legend__item b-chart-legend__item_violet">Bounces</li>
                        <li class="b-chart-legend__item b-chart-legend__item_grey">Visits</li>
                    </ul>
                </div>
                <div class="b-user-history__groups">
                    <div class="b-user-groups">
                        <div class="b-user-groups__title">Add user to group</div>
                        <div class="b-user-groups__items">
                            <div class="b-user-groups__item">
                                <input type="radio" name="user-group" id="user-groups-1">
                                <label for="user-groups-1">Group 1</label>
                            </div>
                            <div class="b-user-groups__item">
                                <input type="radio" name="user-group" id="user-groups-2">
                                <label for="user-groups-2">Group 2</label>
                            </div>
                        </div>
                        <div class="b-user-groups__add">
                            <a href="#" class="b-user-groups__add-btn">New group</a>
                        </div>
                    </div> 
                </div>
                <div class="b-user-history__controls">
                    <a href="#" class="b-clear-btn b-clear-btn_green b-clear-btn_bold b-clear-btn_underline">Save</a>
                </div>
            </div>
            <!-- /User history desc -->
            <!-- User history chart -->
            <div class="b-user-history__chart">
                <!-- Tabs -->
                <div class="b-clear-tabs">
                    <div class="b-clear-tabs__header">
                        <a  class="b-clear-tabs__header-item" 
                            href="#"
                            data-ng-repeat="resolution in chartResolutions"
                            data-ng-class="{'b-clear-tabs__header-item_active': resolution == currentChartResolution}"
                            data-ng-click="chartResolutionClick($event, resolution)">
                            {{resolution.name}}
                        </a>
                    </div>
                </div>
                <!-- Tabs -->
                <!-- Chart -->
                <div class="b-chart b-chart_line">
                    <div class="b-chart__wrap" data-ng-hide="loading || loadingErr">
                        <div>
                            <canvas class="chart chart-line" 
                                    chart-data="userHistoryChart.data" 
                                    chart-series="userHistoryChart.series"
                                    chart-labels="userHistoryChart.labels"
                                    chart-options="userHistoryChart.options"
                                    chart-colors="userHistoryChart.colors"
                                    chart-dataset-override="userHistoryChart.datasetOverride">
                            </canvas>
                        </div>
                        <div class="b-chart__axes b-chart__axes_x">{{chartPeriodStr}}</div>
                    </div>
                    <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
                        <div class="b-icon-progress"></div>
                    </div>
                    <div class="b-chart__retry"  data-ng-show="loadingErr">
                        <div class="b-chart__retry-title">Chart loading error</div>
                        <div class="b-chart__retry-btn">
                            <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
                        </div>
                    </div>
                </div>
                <!-- /Chart -->
            </div>
            <!-- /User history chart -->
        </div>
        <!-- /User history -->
    </div>
</div>