<div class="b-location-stat">
	<div class="b-analytics">
		<div class="b-analytics__title">
			<div class="b-section-title b-section-title_underline b-section-title_large">Your location</div>
		</div>
		<!-- Section -->
		<div class="b-analytics__section">
			<div class="b-analytics__subsection" data-ng-controller="locationConversionCtrl">
				<!-- Conversion pipe chart container -->
				<div class="b-chart-container">
					<div class="b-chart-container__title">
						Conversions
					</div>
					<div class="b-chart-container__content">
						<!-- Chart with widgets -->
						<div class="b-chart-with-widgets b-location-stat__conv-doughnut">
							<!-- Chart -->
							<div class="b-chart-with-widgets__chart">
								<!-- Chart view -->
								<div class="b-chart b-chart_doughnut">
								    <div class="b-chart__wrap">
								        <div class="b-chart__chart" data-ng-hide="loading || loadingErr">
								            <canvas class="chart chart-doughnut" 
								                    chart-data="doughnutChart.data" 
								                    chart-labels="doughnutChart.labels"
								                    chart-options="doughnutChart.options"
								                    chart-colors="doughnutChart.colors"
								                    width="188"
								                    height="188">
								            </canvas>
								        </div>
								        <!-- Chart progress -->
								        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
								            <div class="b-icon-progress"></div>
								        </div>
								        <!-- /Chart progress -->
								        <!-- Chart retry -->
								        <div class="b-chart__retry"  data-ng-show="loadingErr">
								            <div class="b-chart__retry-title">Chart loading error</div>
								            <div class="b-chart__retry-btn">
								                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
								            </div>
								        </div>
								        <!-- /Chart retry -->
								        <!-- Chart info -->
								        <div class="b-chart__center">
								        	<div class="b-chart-info">
								        		<div class="b-chart-info_violet-dark b-chart-info_bold">
								        			<i class="icon-up-small"></i>20%
								        		</div>
								        	</div>
								        </div>
								        <!-- /Chart info -->
								    </div>
								</div>
								<!-- /Chart view -->
							</div>
							<!-- /Chart -->
							<!-- Desc -->
							<div class="b-chart-with-widgets__widgets">
								<!-- New visitors -->
								<div class="b-amount-widget b-amount-widget_blue b-amount-widget_lg">
									<div class="b-amount-widget__info">
										<span class="b-amount-widget__val">850</span>
									</div>
									<div class="b-amount-widget__label">
										Total opportunity
									</div>
								</div>
								<!-- /New visitors -->
							</div>
							<!-- Desc -->
						</div>
						<!-- /Chart with widgets -->
					</div>
				</div>
				<!-- /Conversion pipe chart container -->
				<!-- Conversion linear chart container -->
				<div class="b-chart-container">
					<div class="b-chart-container__content">
						<!-- Chart view -->
						<div class="b-chart b-chart_line">
						    <div class="b-chart__wrap">
						        <div class="b-chart__chart b-location-stat__conv-line-chart" data-ng-hide="loading || loadingErr">
						            <canvas class="chart chart-line" 
						            		height="370" 
						                    chart-data="lineChart.data" 
						                    chart-series="lineChart.series"
						                    chart-labels="lineChart.labels"
						                    chart-options="lineChart.options"
						                    chart-colors="lineChart.colors"
						                    chart-dataset-override="lineChart.datasetOverride">
						            </canvas>
						        </div>
						        <!-- Chart progress -->
						        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
						            <div class="b-icon-progress"></div>
						        </div>
						        <!-- /Chart progress -->
						        <!-- Chart retry -->
						        <div class="b-chart__retry"  data-ng-show="loadingErr">
						            <div class="b-chart__retry-title">Chart loading error</div>
						            <div class="b-chart__retry-btn">
						                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
						            </div>
						        </div>
						        <!-- /Chart retry -->
						    </div>
						</div>
						<!-- /Chart view -->
					</div>
				</div>
				<!-- /Conversion linear chart container -->
				<!-- Conversion widgets -->
				<div class="b-chart-container">
					<div class="b-chart-container__content">
						<div class="b-widgets-container">
							<!-- Walkby -->
							<div class="b-amount-widget b-amount-widget_green-light">
								<div class="b-amount-widget__info">
									<span class="b-amount-widget__val b-amount-widget__val_arrow-up">270</span>
									<span class="b-amount-widget__proc">50%</span>
								</div>
								<div class="b-amount-widget__label">
									Walkby
								</div>
							</div>
							<!-- /Walkby -->
							<!-- Bounces -->
							<div class="b-amount-widget b-amount-widget_violet">
								<div class="b-amount-widget__info">
									<span class="b-amount-widget__val b-amount-widget__val_arrow-up">326</span>
									<span class="b-amount-widget__proc">30%</span>
								</div>
								<div class="b-amount-widget__label">
									Bounces
								</div>
							</div>
							<!-- /Bounces -->
							<!-- Visits -->
							<div class="b-amount-widget b-amount-widget_gray">
								<div class="b-amount-widget__info">
									<span class="b-amount-widget__val b-amount-widget__val_arrow-up">254</span>
									<span class="b-amount-widget__proc">20%</span>
								</div>
								<div class="b-amount-widget__label">
									Visits
								</div>
							</div>
							<!-- /Visits -->
						</div>
					</div>
				</div>
				<!-- /Conversion widgets -->
			</div>
		</div>
		<!-- /Section -->
		<!-- Secion and period -->
		<div data-ng-controller="locationVisitsCtrl">
			<!-- Select period -->
			<div class="b-analytics__period b-analytics__period_center">
				<div class="b-analytics-period">
					<div>
						<md-input-container class="b-select-box">
						  <md-select data-ng-model="startPeriod" placeholder="Select start period">
						    <md-option data-ng-value="opt.val" data-ng-repeat="opt in periods">{{ opt.name }}</md-option>
						  </md-select>
						</md-input-container>
					</div>
					<div class="b-analytics-period__vs">
						vs
					</div>
					<div>
						<md-input-container class="b-select-box b-select-box_green">
						  <md-select data-ng-model="endPeriod" placeholder="Select end period">
						    <md-option data-ng-value="opt.val" data-ng-repeat="opt in periods">{{ opt.name }}</md-option>
						  </md-select>
						</md-input-container>
					</div>
				</div>
			</div>
			<!-- /Select period -->
			<!-- Seciton -->
			<div class="b-analytics__section b-analytics__section_no-border">
				<!-- Subsection -->
				<div class="b-analytics__subsection">
					<!-- Chart container -->
					<div class="b-chart-container">
						<div class="b-chart-container__title">
							Visit by Hour of Day
						</div>
						<div class="b-chart-container__content">
							<!-- Chart view -->
							<div class="b-chart b-chart_bar">
							    <div class="b-chart__wrap">
							        <div class="b-chart__chart b-location-stat__conv-line-chart" data-ng-hide="loading || loadingErr">
							            <canvas class="chart chart-bar" 
							            		height="370" 
							                    chart-data="chartHour.data" 
							                    chart-series="chartHour.series"
							                    chart-labels="chartHour.labels"
							                    chart-options="chartHour.options"
							                    chart-colors="chartHour.colors"
							                    chart-dataset-override="chartHour.datasetOverride">
							            </canvas>
							        </div>
							        <!-- Chart progress -->
							        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
							            <div class="b-icon-progress"></div>
							        </div>
							        <!-- /Chart progress -->
							        <!-- Chart retry -->
							        <div class="b-chart__retry"  data-ng-show="loadingErr">
							            <div class="b-chart__retry-title">Chart loading error</div>
							            <div class="b-chart__retry-btn">
							                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
							            </div>
							        </div>
							        <!-- /Chart retry -->
							    </div>
							</div>
							<!-- /Chart view -->
						</div>
					</div>
					<!-- /Chart container -->
				</div>
				<!-- /Subsection -->
			</div>
			<!-- /Seciton -->
			<!-- Seciton -->
			<div class="b-analytics__section">
				<!-- Subsection -->
				<div class="b-analytics__subsection">
					<!-- Chart container -->
					<div class="b-chart-container">
						<div class="b-chart-container__title">
							Visit by Day of Week
						</div>
						<div class="b-chart-container__content">
							<!-- Chart view -->
							<div class="b-chart b-chart_bar">
							    <div class="b-chart__wrap">
							        <div class="b-chart__chart b-location-stat__conv-line-chart" data-ng-hide="loading || loadingErr">
							            <canvas class="chart chart-bar"
							            		height="370"  
							                    chart-data="chartDay.data" 
							                    chart-series="chartDay.series"
							                    chart-labels="chartDay.labels"
							                    chart-options="chartDay.options"
							                    chart-colors="chartDay.colors"
							                    chart-dataset-override="chartDay.datasetOverride">
							            </canvas>
							        </div>
							        <!-- Chart progress -->
							        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
							            <div class="b-icon-progress"></div>
							        </div>
							        <!-- /Chart progress -->
							        <!-- Chart retry -->
							        <div class="b-chart__retry"  data-ng-show="loadingErr">
							            <div class="b-chart__retry-title">Chart loading error</div>
							            <div class="b-chart__retry-btn">
							                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
							            </div>
							        </div>
							        <!-- /Chart retry -->
							    </div>
							</div>
							<!-- /Chart view -->
						</div>
					</div>
					<!-- /Chart container -->
				</div>
				<!-- /Subsection -->
			</div>
			<!-- /Seciton -->
		</div>
		<!-- /Secion and period -->
	</div>
</div>