.app-footer{
    height: 94px;
    .app-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:before{
            content: ' ';
            position: absolute;
            top: 0;
            left: $app-container-indent;
            right: $app-container-indent;
            height: 1px;
            border-top: 1px solid #d7d7d7;
            @media (max-width: $screen-tablet){
                left: 0;
                right: 0;
            }
        }
    }
}

.app-footer-logo{
    background-image: url('/assets/img/ui/footer/logo.png');
    background-position: center;
    background-size: cover;
    display: block;
    width: 75px;
    height: 23px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    margin-right: 19px;

    @include transition(opacity .2s ease-in-out);
    &:hover{
        opacity: .7;
    }
}

.app-footer-logo-wrap{

}

.app-footer-copy{
    font-size: 11px;
    color: #bfbfbf;
    a{
        cursor: pointer;
        &:link, &:active, &:visited{
            color: #989a9c;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

.app-footer-help{
    font-size: 12.5px;
    color: #7b7b7b;
    width: 150px;
    text-align: right;
    a{
        text-decoration: underline;
        cursor: pointer;
        color: $pando-color-blue;
        @include transition(opacity .2s ease-in-out);
        &:hover{
            opacity: .7;
        }
    }
}