.app-header{
    height: 107px;
    background-image: url('/assets/img/ui/header/background.png');
    background-position: center;
    background-size: cover;
    .app-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.app-header-logo{
    background-image: url('/assets/img/ui/header/logo.png');
    background-position: center;
    background-size: cover;
    display: block;
    width: 113px;
    height: 35px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    @include transition(opacity .2s ease-in-out);
    &:hover{
        opacity: .7;
    }
}

.app-header-dropdown{
    margin-bottom: 0;
    position: relative;
    & > li > a{
        color: white;
        font-size: 14px;
        span{
            line-height: 36px;
            padding: 0 10px;
        }
    }
    &:after{
        font-family: 'fontello';
        content: '\f107';
        color: #a3fffd;
        position: absolute;
        right: 5px;
        top: -3px;
        font-size: 28px;
    }
}

.app-body{
    @media (max-width: $screen-tablet){
        .app-container{
            overflow: hidden;
            padding: 0;
        }
    }
}