<form name="companyEditForm">
    <!-- Email -->
    <div>
        <md-input-container class="w-100">
            <label>Email</label>
            <input 
                required 
                type="email" 
                name="email"
                data-ng-pattern="/^.+@.+\..+$/"
                data-ng-model="company.email"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.email.$error" 
                data-ng-show="!companyEditForm.email.$valid && companyEditForm.email.$dirty" 
                multiple>
                <div data-ng-message="required">Email is required.</div>
                <div data-ng-message="pattern">It must be an e-mail address.</div>
            </div>
        </md-input-container>
    </div>
    <!-- /Email -->
    <!-- Company name -->
    <div>
        <md-input-container class="w-100">
            <label>Company name</label>
            <input 
                required 
                type="text" 
                name="companyName"
                data-ng-model="company.companyName"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.companyName.$error" 
                data-ng-show="!companyEditForm.companyName.$valid && companyEditForm.companyName.$dirty" 
                multiple>
                <div data-ng-message="required">Company name is required.</div>
            </div>
        </md-input-container>
    </div>
    <!-- /Company name -->
    <!-- Phone -->
    <div>
        <md-input-container class="w-100">
            <label>Phone</label>
            <input 
                type="text" 
                name="phone"
                data-ng-model="company.phone"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.phone.$error" 
                data-ng-show="!companyEditForm.phone.$valid && companyEditForm.phone.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /Phone -->
    <!-- Fax -->
    <div>
        <md-input-container class="w-100">
            <label>Fax</label>
            <input 
                type="text" 
                name="fax"
                data-ng-model="company.fax"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.fax.$error" 
                data-ng-show="!companyEditForm.fax.$valid && companyEditForm.fax.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /Fax -->
    <!-- Address -->
    <div>
        <md-input-container class="w-100">
            <label>Address</label>
            <input 
                type="text" 
                name="address"
                data-google-place
                data-ng-change="addressChanged()"
                data-ng-model="company.address"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.address.$error" 
                data-ng-show="!companyEditForm.address.$valid && companyEditForm.address.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /Address -->
    <!-- address2 -->
    <div>
        <md-input-container class="w-100">
            <label>Aditional address</label>
            <input 
                type="text" 
                name="address2"
                data-ng-model="company.address2"
                data-ng-disabled="disabled">
        </md-input-container>
    </div>
    <!-- /address2 -->
    <!-- City -->
    <div>
        <md-input-container class="w-100">
            <label>City</label>
            <input 
                type="text" 
                name="city"
                data-ng-model="company.city"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.city.$error" 
                data-ng-show="!companyEditForm.city.$valid && companyEditForm.city.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /City -->
    <!-- State -->
    <div>
        <md-input-container class="w-100">
            <label>State</label>
            <input 
                type="text" 
                name="state"
                data-ng-model="company.state"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.state.$error" 
                data-ng-show="!companyEditForm.state.$valid && companyEditForm.state.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /State -->
    <!-- Country -->
    <div>
        <md-input-container class="w-100">
            <label>Country</label>
            <input 
                type="text" 
                name="country"
                data-ng-model="company.country"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.country.$error" 
                data-ng-show="!companyEditForm.country.$valid && companyEditForm.country.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /Country -->
    <!-- Zip -->
    <div>
        <md-input-container class="w-100">
            <label>Zip</label>
            <input 
                type="text" 
                name="zip"
                data-ng-model="company.zip"
                data-ng-disabled="disabled">
            <div 
                class="md-input-message" 
                data-ng-messages="companyEditForm.zip.$error" 
                data-ng-show="!companyEditForm.zip.$valid && companyEditForm.zip.$dirty" 
                multiple>
            </div>
        </md-input-container>
    </div>
    <!-- /Zip -->
</form>