<!-- Companies apps -->
<div data-ng-controller="adminCompaniesCtrl">
	<!-- Loading -->
	<div data-ng-show="loading">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading -->
	<!-- No items message -->
	<h4 class="tab-big-message" data-ng-show="!items.length && !loading">Companies list is empty.</h4>
	<!-- /No items message -->
	<!-- Items search -->
	<div class="admin-search-wrap">
		<md-input-container data-ng-show="!loading && items.length" class="w-100 input-container-search" autofocus>
		    <label>Search</label>
		    <input type="text" placeholder="Company name" data-ng-model="search.companyName">
		</md-input-container>
	</div>
	<!-- /Items search -->

	<!-- Items list -->
	<md-list data-ng-show="!loading && items.length" class="admin-items-list">
	    <div data-ng-repeat="item in items | filter:search:strict" data-ng-init="hidden = true">
	        <!-- Item info -->
	        <md-list-item>
	            <p>
	            	<a class="item-link" href="#" data-ng-click="hidden = !hidden">
	            		<b>{{item.companyId}}:</b> {{item.companyName}}
	            	</a>
	            </p>
	            <div>
	                <md-button class="md-primary md-icon-button btn-edit" data-ng-click="hidden = !hidden">
	                    <i class="icon-cog"></i>
	                    <md-tooltip>
	                        Edit {{item.companyName}}
	                    </md-tooltip>
	                </md-button>
	                <!--
	                <md-button class="md-warn md-icon-button" data-ng-click="removeItemClicked($event, item)">
	                    <i class="icon-cancel"></i>
	                    <md-tooltip>
	                        Remove {{item.companyName}}
	                    </md-tooltip>
	                </md-button>
	                -->
	            </div>
	            <md-divider data-ng-if="!$last"></md-divider>
	        </md-list-item>
	        <!-- /Item info -->
	        <!-- Item config -->
	        <div class="container-edit" data-ng-hide="hidden" data-ng-controller="adminSingleCompanyCtrl">
	        	<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom data-ng-show="!loading">
	        		<!-- Info -->
	        		<md-tab label="Info">
	        			<div class="tab-content">
	        				<company-edit-form company="item" valid="companyEditFormValid" disabled="true"></company-edit-form>
	        			</div>
	        		</md-tab>
	        		<!-- /Info -->
	        		<!-- Devives -->
	        		<md-tab label="Devices">
	        			<div class="tab-content">
	        				<div data-ng-show="!devices.length">Devices list is empty.</div>
	        				<md-list data-ng-show="devices.length">
	        					<md-list-item data-ng-repeat="device in devices">
	        						<p><b>{{device.deviceId}}:</b> {{device.name}}</p>
	        					</md-list-item>
	        				</md-list>
	        			</div>
	        		</md-tab>
	        		<!-- /Devives -->
	        		<!-- Users -->
	        		<md-tab label="Users">
	        			<div class="tab-content">
	        				<div data-ng-show="!users.length">Users list is empty.</div>
	        				<md-list data-ng-show="users.length">
	        					<md-list-item data-ng-repeat="user in users">
	        						<p><b>{{user.userId}}:</b> {{user.email}}</p>
	        					</md-list-item>
	        				</md-list>
	        			</div>
	        		</md-tab>
	        		<!-- /Users -->
	        		<!-- Billing -->
	        		<md-tab label="Billing">
	        			<div class="tab-content">
	        				<div data-ng-show="!billing">Data not avaliable.</div>
	        				<div data-ng-show="billing">
	        					<div><b>Customer id: </b> {{billing.customer.customerId}}</div>
	        					<div><b>Payment method id: </b> {{billing.customer.paymentMethodId}}</div>
	        					<div><b>First name: </b> {{billing.billingAddress.billingFirstName}}</div>
	        					<div><b>Last name: </b> {{billing.billingAddress.billingLastName}}</div>
	        					<div><b>Phone: </b> {{billing.billingAddress.phone}}</div>
	        					<div><b>Address: </b> {{billing.billingAddress.address}}</div>
	        					<div><b>Address 2: </b> {{billing.billingAddress.address2}}</div>
	        					<div><b>City: </b> {{billing.billingAddress.city}}</div>
	        					<div><b>State: </b> {{billing.billingAddress.state}}</div>
	        					<div><b>Country: </b> {{billing.billingAddress.country}}</div>
	        					<div><b>Zip: </b> {{billing.billingAddress.zip}}</div>
	        				</div>
	        			</div>
	        		</md-tab>
	        		<!-- /Billing -->
	        		<!-- Subscription -->
	        		<md-tab label="Subscription">
	        			<div class="tab-content">
	        				<!-- Subscription not found -->
	        				<div data-ng-show="!subscription && !trialFormShowed">
	        					<div class="row">
	        						<div class="col-md-12">
	        							Data not avaliable (<a href="#" data-ng-click="showTrialFormClicked()">asign trial</a>).
	        						</div>
	        					</div>
	        				</div>
	        				<!-- /Subscription not found -->
	        				<!-- Trial subscription form -->
	        				<form name="trialForm" ui-keypress="{13:'ok($event)'}" data-ng-show="trialFormShowed">
	        					<div class="row">
	        						<div class="col-md-4">
	        							<!-- Devices count -->
	        							<md-input-container class="flex w-100 md-input-container">
	        							    <label>Devices count</label>
	        							    <input 
	        							        required
	        							        autofocus
	        							        type="number" 
	        							        min="1"
	        							        name="devicesCount"
	        							        data-ng-model="trialDevicesCount"
	        							    >
	        							</md-input-container>
	        							<!-- /Devices count -->
	        						</div>
	        						<div class="col-md-4 p-t-10">
	        							<md-datepicker 
	        								ng-model="trialExpDate" 
	        								md-placeholder="Enter date" 
	        								class="w-100">
	        							</md-datepicker>
	        						</div>
	        						<div class="col-md-2 t-r p-t-10">
	        							<!-- Start -->
	        							<a 
	        								href="#" 
	        								class="btn btn-blue w-100"
	        								data-ng-click="assignTrialSubmited()"
	        								data-ng-disabled="!trialForm.$valid"
	        								data-ng-class="{'btn-loading': trialInProcess}">
	        								Start
	        							</a>
	        							<!-- /Start -->
	        						</div>
	        						<div class="col-md-2 p-t-10">
	        							<!-- Cancel -->
	        							<a 
	        								href="#" 
	        								class="btn btn-red w-100"
	        								data-ng-click="assignTrialCanceled()">
	        								Cancel
	        							</a>
	        							<!-- /Cancel -->
	        						</div>
	        					</div>
	        				    
	        				</form>
	        				<!-- /Trial subscription form -->
	        				<!-- Subscription info -->
	        				<div data-ng-show="subscription">
	        					<div><b>Plan id: </b> {{subscription.planId}}</div>
	        					<div><b>Subscription id: </b> {{subscription.subscriptionId}}</div>
	        					<div><b>Active: </b> {{subscription.isActive}}</div>
	        					<div><b>Devices count: </b> {{subscription.devicesCount}}</div>
	        					<div><b>Created: </b> {{subscription.created}}</div>
	        					<div><b>Updated: </b> {{subscription.updated}}</div>
	        				</div>
	        				<!-- /Subscription info -->
	        			</div>
	        		</md-tab>
	        		<!-- /Subscription -->
	        	</md-tabs>
	        	<!-- Loading -->
	        	<div data-ng-show="loading">
	        	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	        	</div>
	        	<!-- /Loading -->
	        </div>
	        <!-- /Item config -->
	    </div>
	</md-list>
	<!-- /Items list -->
	<!-- Loading more btn -->
	<div class="tab-small-message" data-ng-show="loadingMoreAvaliable && !loadingMore && !loading && items.length">
	    <md-button data-ng-click="loadMoreClicked()" class="md-raised md-primary">Load more</md-button>
	</div>
	<!-- /Loading more btn -->
	<!-- Loading more -->
	<div data-ng-show="loadingMore && !loading">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading more -->
</div>
<!-- /Companies apps -->