.text-page{
	padding: 40px 0;
	@media (max-width: $screen-desktop){
		padding: 0;
	}
	&__content{
		@media (max-width: $screen-desktop){
			width: 100%;
		}
		max-width: 960px;
    	margin: 0px auto;
		padding: 20px;
		border-radius: 2px;
		background-color: white;
		overflow: hidden;
		box-sizing: border-box;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		h1{
			text-align: center;
		}
	}
}