<div class="modal-header clearfix">
    <h3 class="pull-left">Invite user</h3>
</div>
<div class="modal-body">
    <div>
        <form name="inviteUserForm" ui-keypress="{13:'ok($event)'}">
            <md-input-container class="flex w-100">
                <label >User email</label>
                <input 
                    required
                    data-autofocus
                    data-ng-pattern="/^.+@.+\..+$/"
                    data-ng-model="email"
                    name="email"
                    data-ng-keypress="emailKeyPressed($event)"
                    data-ng-change="dataChaned()"
                >
                <div class="md-input-message" data-ng-messages="inviteUserForm.email.$error" data-ng-show="!inviteUserForm.email.$valid && inviteUserForm.email.$dirty" multiple>
                    <div data-ng-message="required">Email is required.</div>
                    <div data-ng-message="pattern">It must be an e-mail address.</div>
                </div>
            </md-input-container>
            <div data-uib-alert type="danger" data-ng-show="emailWarning" class="form-flat-alert">Incorrect email or this user registrated at another company.</div>

            <md-input-container class="flex w-100">
                <label>Role</label>
                <md-select data-ng-model="role">
                    <md-option 
                        data-ng-value="opt.val" 
                        data-ng-repeat="opt in roles">
                        {{ opt.name }}
                    </md-option>
                </md-select>
            </md-input-container>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a 
        href="#"
        class="btn" 
        data-ng-click="cancel()">
        Cancel
    </a>
    <a
        href="#"
        data-ng-click="ok()"
        class="btn btn-blue"
        data-ng-class="{'loading': 'btn-loading'}"
        data-ng-disabled="!inviteUserForm.$valid">
        Invite
    </a>
</div>