<div class="company-users" data-ng-controller="companyUsersCtrl">
    <!-- Loading -->
    <div class="text-center" data-ng-show="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
    </div>
    <!-- /Loading -->
    <!-- Users not added -->
    <div class="box-message" data-ng-hide="loading || user.users.length">
        <h3>You have not invite any user yet.</h3>
        <md-button data-ng-click="inviteUserClicked()" class="md-raised md-primary">INVITE</md-button>
    </div>
    <!-- Users not added -->
    <!-- Invite user -->
    <div class="company-users__add-btn">
        <md-button class="md-fab md-primary md-fab-xs" data-ng-click="inviteUserClicked()">
            <md-tooltip>Click to invite new user</md-tooltip>
            <span class="icon-plus"></span>
        </md-button>
    </div>
    <!-- Invite user -->
    <!-- Users -->
    <h4>Users list</h4>
    <md-list data-ng-show="user.users.length" class="company-users-list">
        <div data-ng-repeat="userItem in user.users" data-ng-init="hidden = true">
            <md-list-item class="item cf">
                <p class="email"><a href="#" data-ng-click="hidden = !hidden">{{userItem.email}}</a></p>
                <div>
                    <md-button class="md-primary md-icon-button btn-edit" data-ng-click="hidden = !hidden">
                        <i class="icon-cog"></i>
                        <md-tooltip>
                            Edit {{userItem.email}}
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-warn md-icon-button" data-ng-click="removeUserClicked($event, userItem)">
                        <i class="icon-cancel"></i>
                        <md-tooltip>
                            Remove {{userItem.email}}
                        </md-tooltip>
                    </md-button>
                </div>
            </md-list-item>
            <!-- Permission editor -->
            <div data-ng-class="{'hidden': hidden }" class="p-b-10">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="w-100">
                            <label>Permission</label>
                            <md-select data-ng-model="userItem.currentCompanyPermission">
                                <md-option 
                                    data-ng-value="opt.val" 
                                    data-ng-repeat="opt in permissions">
                                    {{ opt.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-button class="md-primary md-raised" data-ng-click="saveUserClicked(userItem)">Save</md-button>
                    </div>
                </div>
            </div>
            <!-- /Permission editor -->
            <md-divider data-ng-if="!$last"></md-divider>
        </div>
    </md-list>
    <!-- /Users -->
</div>