$b-app-item-width: 180px;
$b-app-item-height: 180px;

.graphic-items-tile{
	position: relative;
	.info-mask{
		top: -15% !important;
	    left: -15% !important;
	    right: -15% !important;
	    bottom: -15% !important;
	    background-color: $bright-blue;
	    color: white;
	}
	&__controls{
		position: absolute;
		text-align: center;
		color: white;
		font-size: 16px;
		cursor: pointer;
		top: 16px;
		right: 16px;
		span{
			display: inline-block;
			margin-left: 5px;
			&:hover{
				opacity: .5;
			}
		}
	}

	&__content{
		width: $b-app-item-width;
		height: $b-app-item-height;
		position: relative;
		padding: 14px;
		background-color: white;
	}

	&__info{
		margin-top: 4px;
	}

	&__date{
		font-size: 11.1px;
		font-weight: 500;
		color: $pinkish-grey-two;
	}

	&__widgets{
		display: flex;
		justify-content: space-between;
		margin-top: 4px;
		font-size: 12.2px;
		font-weight: bold;
		color: $warm-grey-two;
		.fa{
			color: $gray-light;
		}
	}

	&__holder{
		width: $b-app-item-width;
		height: $b-app-item-height;
		background-color: black;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 2px;
	}

	&__upload{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);
		text-align: center;
		line-height: 100px;
		md-progress-circular{
			top: 50%;
			left: 50%;
			margin-left: -30px;
			margin-top: -30px;
			position: absolute;
		}
	}
}