<div class="graphic-items-tile">
    <div class="graphic-items-tile__content">
        <div class="ih-item ih-material">
            <a href="#" data-ng-click="clicked({$event: $event, item: item})">
                <div class="img">
                    <div class="graphic-items-tile__holder" data-ng-style="{'background-image': 'url('+image+')'}"></div>
                </div>
                <div class="info">
                    <div class="info-mask"></div>
                    <div class="info-content">
                        <div class="info-inner">
                            <p><!-- item name --></p>
                            <div class="graphic-items-tile__controls">
                                <span class="icon-trash" data-ng-click="removeClicked({$event: $event, item: item}); $event.stopPropagation();"></span>
                                <span class="icon-pencil" data-ng-click="editClicked({$event: $event, item: item}); $event.stopPropagation();"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="graphic-items-tile__upload" data-ng-show="item.uploading">
                <md-progress-circular md-mode="indeterminate" md-diameter="60px"></md-progress-circular>
            </div>
        </div>
    </div>
    <div class="graphic-items-tile__info">
        <div class="graphic-items-tile__date"> {{getCreatedDate()}}</div>
        <div class="graphic-items-tile__widgets">
            <div><i class="icon-clock"></i> {{getDurationTime()}}</div>
            <!-- <div><i class="icon-calendar"></i> days</div> -->
            <!-- <div><i class="icon-arrows-cw"></i> 3</div> -->
        </div>
    </div>
</div>