<div>
    <div class="graphic-items-list m-t-10" data-ng-model="app.items" ui-sortable="sortableOptions">
        <!-- Item-->
        <graphic-items-tile
        	data-item="item" 
        	data-image="item.src | appItemSrcToImg: app.name" 
        	data-clicked="editClicked($event, item)" 
        	data-edit-clicked="editClicked($event, item)" 
        	data-remove-clicked="removeClicked($event, item)" 
        	data-ng-repeat="item in app.items">
        </graphic-items-tilee>
        <!-- /Item -->
    </div>
</div>