<!-- Edit graphics img ctrl -->
<div class="modal-body graphic-items-edit">
    <!-- Arrow left -->
    <div 
        class="graphic-items-edit__arrow-wrap left" 
        data-ng-show="app.items.length > 1">
        <a 
            href="#" 
            class="graphic-items-edit__arrow" 
            data-ng-click="prevClicked()">
            <i class="icon-angle-left"></i>
        </a>
    </div>
    <!-- /Arrow left -->
    <!-- Arrow right -->
    <div 
        class="graphic-items-edit__arrow-wrap right" 
        data-ng-show="app.items.length > 1">
        <a 
            href="#" 
            class="graphic-items-edit__arrow" 
            data-ng-click="nextClicked()">
            <i class="icon-angle-right"></i>
        </a>
    </div>
    <!-- /Arrow right -->
    <!-- Close button -->
    <a 
        href="#" 
        class="graphic-items-edit__close" 
        data-ng-click="cancelClicked()">
        <span class="icon-img-close"></span>
    </a>
    <!-- /Close button -->
    <!-- Content holder -->
    <div 
        class="graphic-items-edit__holder md-black-border" 
        data-ng-style="{'background-image': 'url('+ (item.src | appItemSrcToImg: app.name) +')', 'background-size': item.size}" 
        data-ng-click="nextClicked()"></div>
    <!-- /Content holder -->
    <!-- Content edit -->
    <div class="graphic-items-edit__controls">
        <!-- Item edit tabs -->
        <md-tabs class="graphic-items-edit-tab">
            <!-- Basic tab -->
            <md-tab label="Basic">
                <md-content 
                    class="graphic-items-edit__content" 
                    data-ng-controller="graphicItemsEditScheduleCtrl">
                    <!-- Position -->
                    <div>
                        <div>
                            Position:
                        </div>
                        <div>
                            <md-radio-group 
                                class="md-radio-group-blue"
                                data-ng-model="item.size">
                                <md-radio-button value="cover" class="m-l-0">zoom</md-radio-button>
                                <md-radio-button value="contain">zoom out</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <!-- /Position -->
                    <!-- Duration + Schedule control -->
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Duration -->
                            <md-input-container class="w-100">
                                <label>Duration (sec)</label>
                                <input 
                                    data-ng-model="item.duration" 
                                    type="number" 
                                    min="1">
                            </md-input-container>
                            <!-- /Duration -->
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <md-checkbox 
                                    class="m-l-0 m-t-0 m-b-10 md-checkbox-blue" 
                                    data-ng-model="allDays" 
                                    aria-label="all datas" 
                                    data-ng-change="allDaysChanged()">
                                    all days
                                </md-checkbox>
                            </div>
                            <div>
                                <md-checkbox
                                    class="m-l-0 m-t-0 m-b-10 md-checkbox-blue" 
                                    data-ng-model="allTimes" 
                                    aria-label="all times" 
                                    data-ng-change="allTimesChanged()">
                                    all times
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                    <!-- /Duration + Schedule control -->
                    <!-- Schedule -->
                    <div>
                        <!-- Days -->
                        <div 
                            class="graphic-items-edit__days"
                            data-ng-hide="allDays">
                            <div>Run this display at specific days</div>
                            <div class="m-t-10 row">
                                <div class="col-sm-4">
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.sun" 
                                            aria-label="Sunday">
                                            Sunday
                                        </md-checkbox>
                                    </div>
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.mon" 
                                            aria-label="Monday">
                                            Monday
                                        </md-checkbox>
                                    </div>
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.tue" 
                                            aria-label="Tuesday">
                                            Tuesday
                                        </md-checkbox>
                                    </div>
                                </div>
                                <div  class="col-sm-4">
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.wed" 
                                            aria-label="Wednesday">
                                            Wednesday
                                        </md-checkbox>
                                    </div>
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.thu" 
                                            aria-label="Thursday">
                                            Thursday
                                        </md-checkbox>
                                    </div>
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.fri" 
                                            aria-label="Friday">
                                            Friday
                                        </md-checkbox>
                                    </div>
                                </div>
                                <div  class="col-sm-4">
                                    <div>
                                        <md-checkbox 
                                            class="m-l-0 md-checkbox-dark-gray" 
                                            data-ng-model="item.schedule.days.sat" 
                                            aria-label="Saturday">
                                            Saturday
                                        </md-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Days -->
                        <!-- Times -->
                        <div 
                            class="graphic-items-edit__times" 
                            data-ng-hide="allTimes">
                            <div data-ng-repeat="timerange in item.schedule.timeOfDay">
                                <!-- From -->
                                <div>From:</div>
                                <div>
                                    <div 
                                        data-uib-timepicker="" 
                                        class="ui-timepicker no-arrows" 
                                        timetostr 
                                        show-meridian="true" 
                                        data-ng-model="timerange.from">
                                    </div>
                                </div>
                                <!-- /From -->
                                <!-- To -->
                                <div>To:</div>
                                <div>
                                    <div 
                                        data-uib-timepicker="" 
                                        class="ui-timepicker no-arrows" 
                                        timetostr 
                                        show-meridian="true" 
                                        data-ng-model="timerange.to">        
                                    </div>
                                </div>
                                <!-- /To -->
                            </div>
                        </div>
                        <!-- /Times -->
                    </div>
                    <!-- /Schedule -->
                </md-content>
            </md-tab>
            <!-- /Basic tab -->
            <!-- Retargeting tab -->
            <md-tab label="Retargeting">
                <md-content class="graphic-items-edit__content">
                    <!-- Retarget loading -->
                    <div class="text-center" data-ng-show="ruleLoading">
                        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
                    </div>
                    <!-- /Retarget loading -->
                    <!-- Retarget edit -->
                    <div data-ng-show="!ruleLoading">
                        <div flex>
                            <md-checkbox 
                                class="md-checkbox-blue"
                                data-ng-model="rule.active" 
                                data-ng-change="enableRetargetignChanged()">
                                Enable retargeting
                            </md-checkbox>
                        </div>
                        <div data-ng-show="rule.active">
                            <div>
                                <md-input-container class="w-100" flex-gt-sm>
                                    <label>Event type</label>
                                    <md-select data-ng-model="rule.criteria.eventType">
                                        <md-option data-ng-repeat="item in ruleEventTypes" value="{{item.val}}">
                                        {{item.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <!-- Pando IDs -->
                            <div data-ng-controller="graphicItemsEditIdsCtrl">
                                <div class="m-t-10" flex>
                                    <md-checkbox 
                                        class="md-checkbox-blue"
                                        data-ng-model="rulePandoIdsEnabled" 
                                        data-ng-change="idsEnabledChanged()">
                                        Custom retargeting
                                    </md-checkbox>
                                </div>
                                <div 
                                    class="m-t-10" 
                                    data-ng-show="rulePandoIdsEnabled">
                                    <div>Add custom pando ID separated by comma or space. Format: 4de1aa2c6f3b7809a524f82061ccd1e3.</div>
                                    <textarea 
                                        class="w-100 form-control" 
                                        data-ng-model="rulePandoIdsStr" 
                                        data-ng-change="idsListChanged()">
                                    </textarea>
                                </div>
                            </div>
                            <!-- /Pando IDs -->
                        </div>
                    </div>
                    <!-- /Retarget edit -->
                </md-content>
            </md-tab>
            <!-- /Retargeting tab -->
        </md-tabs>
        <!-- /Item edit tabs -->
        <!-- Actions -->
        <div class="graphic-items-edit__actions">
            <a 
                href="#" 
                class="graphic-items-edit__remove" 
                data-ng-click="removeClicked($event)">
                <span class="icon-trash"></span>
            </a>
            <a 
                href="#"
                class="btn btn-blue"
                data-ng-click="saveClicked($event)"
                data-ng-class="{'btn-loading': saving}">
                Save
            </a>
        </div>
        <!-- /Actions -->
    </div>
    <!-- /Content edit -->
</div>
<!-- /Edit graphics img ctrl -->