.graphic-items-edit{
	$content-width: 600px;
	$content-height: 400px;
	$actions-height: 40px;
	$controls-content-height: 310px - $actions-height;
	$indent: 15px;

	display: flex;
	padding: 0;

	@media (max-width: $screen-md-min){
		display: block;
	}

	&__holder{
		background-color: black;
		height: $content-height;
		flex: 1 1 100%;
		cursor: pointer;
		background-color: black;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__controls{
		flex-basis: $content-width;
		padding: $indent;
		position: relative;
		display: flex;
		flex-direction: column;
		md-tabs{
			flex: 1;
			md-content{
				margin-top: 10px;
				overflow-x: hidden;
				overflow-y: scroll;
			}
			md-tab-item{
				color: $white-five;
				&.md-active{
					color: $bright-blue;
				}
			}
		}
	}
	&__actions{
		padding-top: 10px;
		text-align: right;
		a{
			vertical-align: middle;
			margin-left: 12.5px;
			&:first-child{
				margin-left: 0px;
			}
		}
	}
	&__content{
		height: $controls-content-height;
		font-size: 12.3px;
	}
	&__days{
		font-weight: 500;
		font-size: 11.8px;
		color: $greyish-brown;
	}
	&__close{
		position: absolute; 
		top: 14px;
		right: 14px;
		text-align: center;
		display: block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		font-size: 20px;
		color: rgba(0, 0, 0, 0.26);
		z-index: 5;
	}
	&__arrow-wrap{
		position: absolute;
		top: 50%;
		&.left{
			left: -56px;
		}
		&.right{
			right: -56px;
		}
	}

	&__arrow{
		position: relative;
		top: -20px;
		display: block;
		color: white;
		font-size: 40px;
		text-align: center;
		line-height: 40px;
		width: 56px;
		height: 40px;
	}

	&__time-label{
		width: 50px;
		font-weight: bold;
	}

	&__position{
		margin-top: 16px;
		md-radio-group{
			position: relative;
			top: -18px;
		}
	}

	&__remove{
		font-size: 18px;
		color: $gray-dark;
		@include transition(all 0.3s);
		&:hover{
			color: $gray-light;
			text-decoration: none;
		}
	}
}

.graphic-items-edit-tab{
	md-tabs-wrapper{
		md-tab-item{
			padding: 12px 14px;
			span{
				font-weight: bold;
			}
		}
		position: relative;
		&:after{
			content: ' ';
			position: absolute;
			bottom: -20px;
			left: 0;
			right: 0;
			height: 1px;
			border-bottom: 2px dotted $pinkish-grey-three;
			z-index: 1;
		}
	}
	md-tabs-content-wrapper{
		top: 62px;
	}
	md-content{
		padding-top: 16px;
	}
	md-ink-bar{
		height: 3px;
	}
}