<div class="app-container">
    <!-- Conetnt Block -->
    <div class="content-block vibrant-blue">
        <div class="content-block__header">
            <span>Admin</span>
        </div>
        <div class="content-block__body">
            <!-- Tabs -->
            <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                <!-- Companies tab -->
                <md-tab label="Companies">
                    <div class="tab-content" ng-include="'app/components/admin/companies/adminCompaniesView.html'"></div>
                </md-tab>
                <!-- /Users tab -->
                <!-- Users tab -->
                <md-tab label="Users">
                    <div class="tab-content" ng-include="'app/components/admin/users/adminUsersView.html'"></div>
                </md-tab>
                <!-- /Users tab -->
                <!-- Devices tab -->
                <md-tab label="Devices">
                    <div class="tab-content" ng-include="'app/components/admin/devices/adminDevicesView.html'"></div>
                </md-tab>
                <!-- /Devices tab -->
                <!-- Apps tab -->
                <md-tab label="Apps">
                    <div class="tab-content" ng-include="'app/components/admin/apps/adminAppsView.html'"></div>
                </md-tab>
                <!-- /Apps tab -->
                <!-- Firmware tab -->
                <md-tab label="Firmware">
                    <div class="tab-content" ng-include="'app/components/admin/firmwares/adminFirmwaresView.html'"></div>
                </md-tab>
                <!-- /Firmware tab -->
            </md-tabs>
            <!-- /Tabs -->
        </div>
    </div>
    <!-- /Content Block -->
</div>