.admin-items-list{
	md-list-item{
		padding-left: 4px;
	}
	.btn-edit{
		margin-right: -6px;
	}
	a.item-link, 
	a.item-link:hover, 
	a.item-link:active, 
	a.item-link:link, 
	a.item-link:visited{
		color: inherit;
	}
	.container-edit{
		clear: both;
		padding: 16px 0;
	}
}

.admin-search-upload-container{
	display: flex;
	.admin-search-wrap{
		flex: 1 1 100%;
	}
	.admin-upload-btn-wrap{
		flex-basis: 120px;
		margin-top: 14px;
		text-align: right;
	}
}