$app-container-indent: 15px;
$app-container-width: 1000px + $app-container-indent * 2;

.app{
    width: 100%;
    height: 100%;
    &__header{
        @media (max-width: $screen-tablet){
            .app-header-logo{
                display: none;
            }
        }
    }
    &__locations{
        min-height: 92px;
        background-color: white;
        padding: 49px 15px 10px 15px;
        text-align: center;
        @media (max-width: $screen-tablet){
            padding: 37px 15px 37px 15px;
        }
    }
	&__container{
        max-width: $app-container-width;
        margin: 0 auto;
        padding: 0 $app-container-indent;
    }
    &__body{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    &__footer{

    }
}

.app-header{
    height: 107px;
    background-image: url('/assets/img/ui/header/background.png');
    background-position: center;
    background-size: cover;
    position: relative;
    &__container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__company{
        @media (min-width: $screen-tablet){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.app-header-logo{
    a{
        display: block;
        background-image: url('/assets/img/ui/header/logo.png');
        background-position: center;
        background-size: cover;
        display: block;
        width: 113px;
        height: 35px;
        cursor: pointer;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        @include transition(opacity .2s ease-in-out);
        &:hover{
            opacity: .7;
        }
    }
}

.app-header-company{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    a, a:active, a:visited, a:link{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        opacity: .7;
    }
}

.app-header-dropdown{
    margin-bottom: 0;
    position: relative;
    & > li > a{
        color: white;
        font-size: 14px;
        text-transform: lowercase;
        span{
            line-height: 36px;
            padding: 0 10px;
        }
    }
    &:after{
        font-family: 'fontello';
        content: '\f107';
        color: #a3fffd;
        position: absolute;
        right: 5px;
        top: -1px;
        font-size: 28px;
    }
}

.app-body{
    @media (max-width: $screen-tablet){
        .app-container{
            overflow: hidden;
            padding: 0;
        }
    }
}

.app-footer{
    height: 94px;
    &__container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:before{
            content: ' ';
            position: absolute;
            top: 0;
            left: $app-container-indent;
            right: $app-container-indent;
            height: 1px;
            border-top: 1px solid #d7d7d7;
            @media (max-width: $screen-tablet){
                left: 0;
                right: 0;
            }
        }
    }
    @media(max-width: $screen-phone){
        .app-footer-logo{
            display: none;
        }
    }
}

.app-footer-logo{
    a{
        background-image: url('/assets/img/ui/footer/logo.png');
        background-position: center;
        background-size: cover;
        display: block;
        width: 75px;
        height: 23px;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        margin-right: 19px;

        @include transition(opacity .2s ease-in-out);
        &:hover{
            opacity: .7;
        }
    }
}

.app-footer-copy{
    font-size: 11px;
    color: #bfbfbf;
    a{
        cursor: pointer;
        &:link, &:active, &:visited{
            color: #989a9c;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

.app-footer-help{
    font-size: 12.5px;
    color: #7b7b7b;
    width: 150px;
    text-align: right;
    a{
        text-decoration: underline;
        cursor: pointer;
        color: $pando-color-blue;
        @include transition(opacity .2s ease-in-out);
        &:hover{
            opacity: .7;
        }
    }
}