<div class="app">
	<!-- Header -->
	<header class="app__header">
		<div class="app-header" data-ng-controller="headerCtrl" >
		    <div class="app__container app-header__container">
		    	<!-- Preloader -->
		    	<div ui-preloader></div>
		    	<!-- /Preloader -->
		        <!-- Logo -->
		        <div class="app-header-logo">
		        	<a data-ui-sref="locations">
			            Pando
			        </a>
		        </div>
		        <!-- /Logo -->
		        <!-- Company -->
		        <div class="app-header__company">
		        	<div class="app-header-company">
		        		<span data-ng-show="!userDataLoaded">
		        			<i class="icon-spin4 animate-spin"></i>
		        		</span>
		        		<span data-ng-show="userDataLoaded">
		        			<a data-ui-sref="company" >{{user.company.companyName}}</a>
		        		</span>
		        	</div>
		        </div>
		        <!-- /Company -->
		        <!-- User menu -->
		        <ul class="nav-right list-unstyled app-header-dropdown">
		            <li class="dropdown text-normal nav-profile" uib-dropdown is-open="status.isopenProfile">
		                <a href="javascript:;" class="dropdown-toggle header-user-menu__toggle" uib-dropdown-toggle data-ng-disabled="disabled" md-button aria-label="email" aria-label="profile">
		                    <span>{{currentUserEmail()}}</span>
		                    <span class="header-user-menu__arrow"></span>
		                </a>
		                <ul class="uib-dropdown-menu with-arrow pull-right dropdown-menu-scaleIn dropdown-menu">
		                    <li>
		                        <a data-ui-sref="locations">
		                            <i class="icon-location"></i>
		                            <span>Locations</span>
		                        </a>
		                    </li>
		                    <li data-ng-show="!user.isAdmin">
		                        <a data-ui-sref="company">
		                            <i class="icon-users"></i>
		                            <span>Company</span>
		                        </a>
		                    </li>
		                    <li data-ng-show="user.isAdmin">
		                        <a data-ui-sref="app.admin">
		                            <i class="icon-person"></i>
		                            <span>Admin</span>
		                        </a>
		                    </li>
		                    <li>
		                        <a data-ui-sref="settings">
		                            <i class="icon-cog"></i>
		                            <span>Settings</span>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="#" data-ng-click="logout()">
		                            <i class="icon-logout"></i>
		                            <span>Log out</span>
		                        </a>
		                    </li>
		                </ul>
		            </li>
		        </ul>
		        <!-- /User menu -->
		    </div>
		</div>
	</header>
	<!-- /Header -->
	<!-- Locations list -->
	<section 
		class="app__locations" 
		data-ng-show="!userDataLoaded || user.locations.length" 
		data-ng-controller="locationsBarCtrl">
		<div data-ng-show="!userDataLoaded">
			<i class="icon-spin4 animate-spin"></i>
		</div>
		<ul class="locations-list" data-ng-show="userDataLoaded && user.locations.length">
			<li data-ng-repeat="loc in user.locations"
				data-ng-class="{'active': loc.id == currentLoc.id}">
				<a data-ui-sref="locationWithId({locId: loc.id})">
					<span data-ng-if="loc.name">{{loc.name}}</span>
					<span data-ng-if="!loc.name" class="no-name">&#60;no name&#62;</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /Locations list -->
	<!-- Main container -->
	<section class="app__container">
		<div class="app__body" data-ui-view></div>
	</section>
	<!-- /Main container -->
	<!-- Footer -->
	<footer class="app__footer">
		<div class="app-footer">
		    <div class="app-footer__container app__container">
		        <div class="g-flex g-align-items-center">
		            <!-- Logo -->
		            <div class="app-footer-logo">
		                <a data-ui-sref="/">Pando</a>
		            </div>
		            <!-- /Logo -->
		            <!-- Copyright -->
		            <div class="app-footer-copy g-text-left">
		                © 2016 Pando Inc. All rights reserved.<br/>
		                <a data-ui-sref="page.privacy" target="_blank">Privacy policy</a> v{{env.version}}
		            </div>
		            <!-- /Copyright -->
		        </div>
		        <div>
		            <!-- Help -->
		            <div class="app-footer-help">
		                Need help? <a data-ui-sref="/">Contact us.</a>
		            </div>
		            <!-- /Help -->
		        </div>
		    </div>
		</div>
	</footer>
	<!-- /Footer -->
</div>