$apps-weight-control__bar-height: 10px;
$apps-weight-control__handler-width: 8px;
$apps-weight-control__handler-height: 24px;
$apps-weight-control__side-padding:  $apps-weight-control__handler-width / 2;

.apps-weight-control{
	padding: 55px 0px 50px 0px;
	height: 16px;
	
	&__bar-wrap{
		height: $apps-weight-control__bar-height;
	}
	&__bar{
		margin-left: -1px;
		height: $apps-weight-control__bar-height;
		// background-color: $aqua-marine;
	}
	&__handle-wrap{
		position: absolute;
		height: $apps-weight-control__handler-height;
		width: $apps-weight-control__handler-width;
		z-index: 2;
		top: - (($apps-weight-control__handler-height - $apps-weight-control__bar-height) / 2) - 1px;
	}
	&__handle{
		height: $apps-weight-control__handler-height;
		width: $apps-weight-control__handler-width;
		border-radius: 2px;
		background: $aqua-marine;
		cursor: pointer; 
		position: relative;
		z-index: 2;
		left: -50%;
		&:hover{
			background: $aqua-marine;
		}
	}
	&__infobar{
		position: absolute;
		z-index: 1;
		top: -1px;
	    bottom: 1px;
		background-color: $aqua-marine;
		font-size: 16px;
		& > div{
			position: absolute;
			font-weight: bold;
			top: -55px;
			left: 0;
			right: 0;
			text-align: center;
			line-height: 55px;
		}
		span{
			display: inline-block;
		}
	}
	&__icon{
		height: 55px;
		img{
			width: 32px;
			height: 32px;
			position: relative;
	    	top: -4px;
		}
	}
	&__procents{
		margin-top: 10px;
		height: 55px;
		font-size: 23.4px;
		font-weight: 500;
		color: $black;
		text-align: center;
	}
}