<div class="app-container" data-ng-show="userDataLoaded">
    <!-- /No devices -->
    <div class="app-container__title">
        Settings
    </div>
    <div class="content-block">
        <div class="content-block__body" data-ng-controller="settingsProfileCtrl">
            <!-- User profile settings -->
            <div>
                <users-edit-form user="confUser" valid="usersEditFormValid"></user-edit-form>
            </div>
            <!-- Save -->
            <div class="row">
                <div class="col-md-11">
                    <a 
                        data-ng-click="saveClicked()"
                        class="btn btn-blue"
                        data-ng-class="{'btn-loading': processing}"
                        data-ng-disabled="!usersEditFormValid">
                        Save
                    </a>
                </div>
            </div>
            <!-- /Save -->
            <!-- /User profile settings -->
        </div>
    </div>
</div>