.visitors-progress-chart{
	&__item{
	    display: inline-block;
	    position: relative;
	    width: 20px;
	    height: 28px;
	    opacity: 0;
	    @include transition(opacity .2s ease-in-out);
	    &:after{
	    	font-family: 'fontello';
	    	position: absolute;
	    	display: block;
	    	line-height: 30px;
	    	top: 0;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	text-align: center;
	    	content: "\e800";
	    	font-size: 30px;
	    }
	    &:last-child{
	        margin-right: 0;
	    }
	    &.showed{
	        opacity: 1;
	    }
	    &.hidden{
	        opacity: 0;
	    }
	}
}