.b-amount-widget{
	font-family: $pando-font-gotham;
	&__info{
		border-bottom: 1px solid black;
		padding-bottom: 4px;
	}
	&__val{
		font-size: 34px;
		line-height: 34px;
		display: inline-block;
		font-weight: bold;
		vertical-align: bottom;
		[class^="icon"]{
			font-size: 24px;
			display: inline-block;
			vertical-align: bottom;
			&:before{
				width: 12px;
				margin: 0;
				text-align: center;
			}
		}
	}
	&__proc{
		font-size: 12px;
		line-height: 12px;
		display: inline-block;
		font-weight: bold;
		margin-left: 7px;
		vertical-align: bottom;
		position: relative;
		top: -4px;
	}
	&__label{
		padding-top: 8px;
		text-transform: uppercase;
	}
	&_violet{
		color: $pando-color-violet;
		.b-amount-widget__info{
			border-bottom-color: $pando-color-violet;
		}
	}
	&_violet-light{
		color: $pando-color-violet-light;
		.b-amount-widget__info{
			border-bottom-color: $pando-color-violet-light;
		}
	}
	&_violet-dark{
		color: $pando-color-violet-dark;
		.b-amount-widget__info{
			border-bottom-color: $pando-color-violet-dark;
		}
	}
	&_blue{
		color: $pando-color-blue;
		.b-amount-widget__info{
			border-bottom-color: $pando-color-blue;
		}
	}
	&_green-light{
		color: $pando-color-green-light;
		.b-amount-widget__info{
			border-bottom-color: $pando-color-green-light;
		}
	}
	&_gray{
		color: $pando-color-gray;
		.b-amount-widget__info{
			border-bottom-color: $pando-color-gray;
		}
	}
	&_lg{
		.b-amount-widget__val{
			font-size: 60px;
			line-height: 60px;
		}
	}
}