.b-analytics-period{
	display: flex;
	&__vs{
		font-family: $pando-font-main;
		color: $pando-color-blue;
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}