.b-analytics{
	padding: 54px 60px 0px 60px;
	&__title{

	}
	&__section{
		display: flex;
		margin-top: 28px;
		padding: 26px 0;
		border-bottom: 1px dashed $pando-color-gray-light;
		@media (max-width: $screen-lg){
		    display: block;
		}
		&:last-child{
			border-bottom: none;
		}
		&_no-border{
			border-bottom: none;
		}
	}
	&__subsection{
		width: 100%;
		padding: 0 55px;
		border-right: 1px dashed $pando-color-gray-light;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
			border-right: none;
		}
		@media (max-width: $screen-lg){
		    padding: 0;
		    margin-top: 40px;
		    border-right: none;
		    &:first-child{
		    	margin-top: 0;
		    }
		}
	}
	&__period{
		padding-top: 54px;
		&_center{
			display: flex;
			justify-content: center;
		}
	}
}