.b-clear-tabs{
	&__header{
		&-item{
			display: inline-block;
			margin-right: 26px;
			@mixin underline{
				position: relative;
				padding-bottom: 6px;
				&:after{
					content: ' ';
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					bottom: -6px;
					height: 2px;
					background-color: $pando-color-violet;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			&, &:link, &:visited, &:active{
				color: $pando-color-dark;
				text-decoration: none;
				font-size: 15px;
			}
			&:hover{
				color: $pando-color-violet;
				@include underline;
			}
			&_active, &_active:link, &_active:visited, &_active:active{
				color: $pando-color-violet;
				@include underline;
			}
		}
	}
}