.b-chart-with-widgets{
	display: flex;
	align-items: stretch;
	justify-content: center;
	@media (max-width: $screen-sm){
		display: block;
	}
	&_left{
		justify-content: flex-start;
	}
	&__chart{
		flex: 0 0 188px;
		position: relative;
	}
	&__widgets{
		margin-left: 66px;
		width: 100%;
		display: flex;  
		flex-direction: column;
		justify-content: center;
		@media (max-width: $screen-sm){
			display: block;
			margin-left: 0;
			margin-top: 20px;
			text-align: center;
		}
		& > *{
			margin-bottom: 20px;
			width: 160px;
			&:last-child{
				margin-bottom: 0px;
			}
			@media (max-width: $screen-sm){
				margin: 0 auto 20px auto;
				// display: inline-block;
			}
		}
	}
}