.b-clear-btn{
	color: $pando-color-blue;
	display: inline-block;
	cursor: pointer;
	&:link, &:visited, &:active{
		text-decoration: none;
	}
	&:hover{
		color: $pando-color-green-light;
	}
	&_green{
		color: $pando-color-green-light;
		&:hover{
			color: $pando-color-blue;
		}
	}
	&_bold{
		font-weight: bold;
	}
	&_underline{
		position: relative;
		padding-bottom: 4px;
		&:after{
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			background-color: $pando-color-green-light;
		}
		&:hover{
			&:after{
				background-color: $pando-color-blue;
			}
		}
	}
}