.b-chart{
	&__axes{
		font-size: 11px;
		color: $pando-color-gray;
		font-weight: bold;
		&_x{
			margin-top: 20px;
			text-align: center;
		}
		&_y{
			text-align: left;
			margin-bottom: 20px;
		}
	}
	&__wrap{
		min-height: 170px;
		position: relative;
	}
	&__chart{

	}
	&__progress{
		width: 100%;
		height: 100%;
		position: relative;
		text-align: center;
		line-height: 170px;
	}
	&__retry{
		text-align: center;
		position: absolute;
		font-size: 14px;
		left: 0;
		right: 0;
		top: 50%;
		@include transform(translateY(-50%));
		&-title{
			font-weight: bold;
			color: $pando-color-gray;
		}
		&-btn{
			margin-top: 4px;
			font-size: 12px;
			a, a:link, a:visited, a:active{
				color: $pando-color-dark;
				text-decoration: none;
				font-weight: bold;
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
	&__center{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}
}

.b-chart-info{
	text-align: center;
	font-family: $pando-font-gotham;
	font-size: 17px;
	&_bold{
		font-weight: bold;
	}
	&_violet-light{
		color: $pando-color-violet-light;
	}
	&_violet-dark{
		color: $pando-color-violet-dark;
	}
}