.b-chart-legend{
	list-style: none;
	padding: 0;
	margin: 0;
	&__item{
		display: block;
		padding: 0 0 0 22px;
		margin: 0;
		font-size: 14px;
		color: $pando-color-dark;
		margin-top: 6px;
		position: relative;
		&:first-child{
			margin-top: 0;
		}
		&:before{
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 2px;
			width: 14px;
			height: 14px;
			border-radius: 5px;
			background-color: $pando-color-gray;
		}
		&_green{
			&:before{
				background-color: $pando-color-green-light;
			}
		}
		&_violet{
			&:before{
				background-color: $pando-color-violet;
			}
		}
		&_gray{
			&:before{
				background-color: $pando-color-gray;
			}
		}
	}
}