.b-icon-progress{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	color: $pando-color-gray;
	@include animation(spin 2s infinite linear);
	&:before{
		font-family: "fontello";
		content: '\e834';
		position: absolute;
		font-size: 20px;
		top: 50%;
		left: 50%;
		@include transform(translateY(-50%) translatex(-50%));
	}
	&_small{
		&:before{
			font-size: 14px;
		}
	}
	&_large{
		&:before{
			font-size: 26px;
		}
	}
}