.b-location-stat{
	&__conv-doughnut{
		.b-chart-with-widgets__widgets{
			width: 200px;
			@media (max-width: $screen-sm){
				width: 100%;
			}
		}
	}
	&__conv-line-chart{
		position: relative;
		left: -30px;
	}
}