.b-mobile-procents{
	display: flex;
	justify-content: space-around;
	&_icon{
		position: relative;
		padding-top: 105px;
		&:before{
			content: ' ';
			display: block;
			background-color: #34ffda;
			background-image: url('/assets/img/statistics/icons/smartphone.png');
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;
			width: 75px;
			height: 75px;
			position: absolute;
			top: 0;
			left: 50%;
			@include transform(translatex(-50%));
		}
	}
	&__item{
		text-align: center;
		
	}
	&__value{
		color: $pando-color-blue;
		font-family: $pando-font-main;
		font-size: 18px;
		font-weight: bold;
	}
	&__name{
		margin-top: 12px;
		font-family: $pando-font-gotham;
		font-size: 13px;
	}
}