.b-section-title{
	font-weight: bold;
	font-size: 17px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: $pando-color-blue;
	display: inline-block;
	&_underline{
		padding-bottom: 8px;
		position: relative;
		&:after{
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 3px;
			background-color: $pando-color-green-light;
		}
	}
	&_large{
		font-size: 22px;
	}
}