.b-select-box{
	margin: 0;
	border: 2px solid #a5a5a5;
	padding: 1px 0px;
	height: 40px;
	min-width: 190px;
	.md-select-value{
		border-bottom: none !important; 
		span{
			padding: 0 10px;
			color: #a5a5a5;
		}
	}
	&_green{
		border-color: $pando-color-green-light;
		.md-select-value{
			span{
				color: $pando-color-green-light;
			}
		}
	}
}