.b-trafic{
	.b-chart-container{
		.b-avarage-shoptime{
			// margin-top: 78px;
		}
	}
	&__duration-breakdown-chart{
		padding-top: 10px;
	}
	&__mobile{
		margin-top: 50px;
	}
	&__frequency-chart{
		.b-chart__chart{
			position: relative;
			left: -24px;
		}
	}
}