.b-user-history{
	font-family: $pando-font-main;
	display: flex;
	@media (max-width: $screen-tablet){
		display: block;
	}
	&__desc{
		flex: 0 0 152px;
		padding-top: 0px;
		padding-right: 18px;
		padding-bottom: 15px;
		border-right: 1px dashed $pando-color-gray-light;
		@media (max-width: $screen-tablet){
			width: 100%;
			border-right: none;
			padding-right: none;
		}
	}
	&__title{
		
	}
	&__id{
		color: $pando-color-gray;
		margin-top: 17px;
		font-size: 14px;
		&-wrap{
			width: 130px;
			white-space: nowrap;
			overflow:hidden !important;
			text-overflow: ellipsis;
		}
	}
	&__legend{
		margin-top: 16px;
	}
	&__groups{
		display: none;
		margin-top: 16px;
		padding-top: 16px;
		border-top: 1px dashed $pando-color-gray-light;
	}
	&__controls{
		display: none;
		margin-top: 30px;
	}
	&__chart{
		width: 100%;
		padding-left: 34px;
		padding-right: 24px;
		@media (max-width: $screen-tablet){
			padding-left: 0px;
			padding-right: 0px;
		}
		.b-chart{
			margin-top: 27px;
			height: 250px;
			@media (max-width: $screen-tablet){
				height: 200px;
			}
		}
	}
}