.b-user-groups{
	&__title{
		color: $pando-color-dark;
		font-size: 14px;
	}
	&__items{
		margin-top: 14px;
	}
	&__item{
		margin-top: 2px;
		&:first-child{
			margin-top: 0px;
		}
		input[type=radio]{
			display: none;
		}
		input[type=radio] + label{
			color: $pando-color-gray;
			font-size: 14px;
			display: inline-block;
			padding: 0 0 0 22px;
			cursor: pointer;
			position: relative;
			&:before{
				content: ' ';
				display: block;
				position: absolute;
				left: 0;
				top: 2px;
				width: 14px;
				height: 14px;
				border: 2px solid $pando-color-blue;
				border-radius: 5px;
			}
		}
		input[type=radio]:checked + label{
			&:after{
				content: ' ';
				display: block;
				position: absolute;
				left: 4px;
				top: 6px;
				width: 6px;
				height: 6px;
				background-color: $pando-color-blue;
				border-radius: 50%;
			}
		}
	}
	&__add{
		margin-top: 4px;
	}
	&__add-btn{
		&, &:link, &:visited, &:active{
			color: $pando-color-blue;
			font-size: 14px;
			position: relative;
			cursor: pointer;
			text-decoration: none;
		}
		&:hover{
			text-decoration: underline;
		}
		&:before{
			content: '+';
			font-size: 14px;
			display: inline-block;
			margin-right: 5px;
			cursor: pointer;
			color: $pando-color-violet;
		}
	}
}