<div class="app-container device-apps-page" data-ng-controller="deviceAppsCtrl">
	<!-- Current location -->
	<div class="app-container__title app-container-navigation" data-ng-show="currentLoc">
		<!-- Location navigation -->
		<div class="app-container-navigation__navigation">
			<span class="app-container-navigation__back">
				<a href="#"
				   data-ui-sref="locationWithId({locId: currentLoc.id})">
					<i class="app-icon app-icon-go-back">Go back</i>
				</a>
			</span>
			<span class="app-container-navigation__sep">&#124;</span>
			<span class="app-container-navigation__text">
				<a href="#"
				   data-ui-sref="locationWithId({locId: currentLoc.id})">
				<span data-ng-if="currentLoc.name">{{currentLoc.name}}</span>
				<span data-ng-if="!currentLoc.name" class="no-name">&#60;no name&#62;</span>
				</a>
			</span>
		</div>
		<!-- /Location navigation -->
		<!-- Devices -->
		<div class="app-container-navigation__content">
			<a 
				href="#"
				data-ng-repeat="device in user.devices | devicesWithLocation: currentLoc"
				data-ui-sref="deviceApps({locId: currentLoc.id, deviceId: device.id})"  
				data-ng-class="{'active': device.id == currentDevice.id}">
				{{device.name}}
			</a>
		</div>
		<!-- /Devices -->
		<!-- Mirror devices -->
		<div 
			class="app-container-navigation__right"
			data-ng-show="(user.devices | devicesWithLocation: currentLoc).length > 1">
			<md-checkbox 
				class="md-checkbox-blue" 
				data-ng-model="mirrorDevices" 
				data-ng-change="mirrorDevicesChanged($event)">
				Mirror all devices
			</md-checkbox>
		</div>
		<!-- /Mirror devices -->
	</div>
	<!-- /Current location -->
	<!-- Apps -->
	<div class="content-block aqua-marine" data-ng-show="currentLoc">
		<div class="content-block__header">
			<i class="content-block__icon apps"></i>
			<span>Apps</span>
		</div>
		<div class="content-block__body container-vertical-center">
			<!-- Loading -->
			<div 
				data-ng-show="appsLoading" 
				class="g-text-center container-vertical-center__content">
				<i class="icon-spin4 animate-spin"></i>
			</div>
			<!-- /Loading -->
			<!-- Apps weight -->
			<div 
				class="device-apps-page-weights" 
				data-ng-show="!appsLoading && currentDevice.activeApps.length">
				<apps-weight-control 
					data-model="currentDevice.activeApps" 
					data-property="weight" 
					data-step="1" 
					data-total="100" 
					data-images="{{currentDevice.activeApps | appsToImgs}}" 
					data-change="deviceAppsWeightChanged($event, currentDevice)">
				</apps-weight-control>
			</div>
			<!-- /Apps weight -->
			<!-- Apps list -->
			<div data-ng-show="!appsLoading && currentDevice.apps.length">
				<!-- Active apps -->
				<div data-ng-show="currentDevice.activeApps.length">
					<div>
						<a 
							href="#" 
							data-ng-click="activeCollapsed = !activeCollapsed" 
							class="apps-collaps-btn" 
							data-ng-class="{'collapsed': activeCollapsed}">
							Active apps
						</a>
					</div>
					<ul 
						class="no-margin apps-list" 
						data-uib-collapse="activeCollapsed">
					    <!-- Application item -->
					    <li 
					    	class="apps-list__item" 
					    	data-ng-repeat="app in currentDevice.activeApps track by app.id" 
					    	data-ng-init="editorDisplayed = false">
					        <app-control 
					        	data-app="app" 
					        	data-device="currentDevice" 
					        	data-active-changed="deviceAppActiveChanged(app)" 
					        	data-show-activation-tooltip="!firstAppActivated">
					        </app-control>
					    </li>
					    <!-- /Application item -->
					</ul>
				</div>
				<!-- /Active apps -->
				<!-- Inactive apps -->
				<div data-ng-show="currentDevice.inactiveApps.length">
					<div>
						<a 
							href="#" 
							data-ng-init="inactiveCollapsed = false"
							data-ng-click="inactiveCollapsed = !inactiveCollapsed" 
							class="apps-collaps-btn" 
							data-ng-class="{'collapsed': inactiveCollapsed}">
							Avaliable apps
						</a>
					</div>
					<ul 
						class="no-margin apps-list" 
						data-uib-collapse="activeCollapsed">
					    <!-- Application item -->
					    <li 
					    	class="apps-list__item" 
					    	data-ng-repeat="app in currentDevice.inactiveApps track by app.id" 
					    	data-ng-init="editorDisplayed = false">
					        <app-control 
					        	data-app="app" 
					        	data-device="currentDevice" 
					        	data-active-changed="deviceAppActiveChanged(app)" 
					        	data-show-activation-tooltip="!firstAppActivated">
					        </app-control>
					    </li>
					    <!-- /Application item -->
					</ul>
				</div>
				<!-- /Inactive apps -->
			</div>
			<!-- /Apps list -->
		</div>
	</div>
	<!-- /Apps -->
</div>