<!-- Admin users -->
<div ng-controller="adminUsersCtrl">
    <!-- Loading -->
    <div class="text-center" ng-show="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
    </div>
    <!-- /Loading -->
    <!-- No Users message -->
    <h4 class="tab-big-message" ng-show="!users.length && !loading">Users list is empty.</h4>
    <!-- /No Users message -->
    <!-- Users search -->
    <md-input-container ng-show="!loading && users.length" class="w-100 input-container-search" autofocus>
        <label>Search</label>
        <input type="text" placeholder="User email" ng-model="search.email">
    </md-input-container>
    <!-- /Users search -->
    <!-- Users list -->
    <md-list ng-show="!loading && users.length" class="admin-items-list">
        <div ng-repeat="item in users | filter:search:strict" ng-init="hidden = true">
            <!-- Item info -->
            <md-list-item>
                <p><a class="item-link" href="#" ng-click="hidden = !hidden"><b>{{item.userId}}:</b> {{item.email}}</a></p>
                <div>
                    <md-button class="md-primary md-icon-button btn-edit" ng-click="hidden = !hidden">
                        <i class="icon-cog"></i>
                        <md-tooltip>
                            Edit {{item.email}}
                        </md-tooltip>
                    </md-button>
                    <!--
                    <md-button class="md-warn md-icon-button" ng-click="removeItemClicked($event, item)">
                        <i class="icon-cancel"></i>
                        <md-tooltip>
                            Remove {{item.email}}
                        </md-tooltip>
                    </md-button>
                    -->
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <!-- /Item info -->
            <!-- Item config -->
            <div class="container-edit" ng-hide="hidden">
                <div>
                    <users-edit-form user="item" valid="usersEditFormValid" hide-password="true" disabled="true"></user-edit-form>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-11">
                        <md-button class="md-raised md-primary" 
                                   data-ng-disabled="item.processing || !usersEditFormValid"
                                   ng-click="saveItemClicked(item)">Save</md-button>
                    </div>
                    <div class="col-md-1">
                        <md-progress-circular md-mode="indeterminate" md-diameter="20px" class="md-small" ng-show="item.processing"></md-progress-circular>
                    </div>
                </div>
                -->
            </div>
            <!-- /Item config -->
        </div>
    </md-list>
    <!-- /Users list -->
    <!-- Loading more btn -->
    <div class="tab-small-message" ng-show="loadingMoreAvaliable && !loadingMore && !loading">
        <md-button ng-click="loadMoreClicked()" class="md-raised md-primary">Load more</md-button>
    </div>
    <!-- /Loading more btn -->
    <!-- Loading more -->
    <div class="text-center" ng-show="loadingMore && !loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
    </div>
    <!-- /Loading more -->
</div>
<!-- /Admin users -->