<!-- Firmware upload dialog -->
<div class="modal-header clearfix">
    <h3 class="pull-left">Upload firmware</h3>
</div>
<div class="modal-body">
	<form name="editForm">
	    <!-- Hardware type -->
		<md-input-container class="flex w-100">
			<label>Hardware type</label>
			<md-select data-ng-model="hardware" name='hardware' required>
				<md-option data-ng-repeat="hardware in hardwareTypes" value="{{hardware.val}}">
					{{hardware.name}}
				</md-option>
			</md-select>
			<div class="md-input-message" data-ng-messages="editForm.hardware.$error" data-ng-show="!editForm.hardware.$valid && editForm.hardware.$dirty" multiple>
			    <div data-ng-message="required">Hardware type is required.</div>
			</div>
		</md-input-container>
	    <!-- /Hardware type -->
	    <!-- Hardware version -->
	    <md-input-container class="flex w-100">
	    	<label>Firmware version</label>
	    	<input 
	    		autofocus 
	    		type="text" 
	    		name="version"
	    		required
	    		placeholder="0.0.0" 
	    		ng-model="version" />
	    	<div class="md-input-message" data-ng-messages="editForm.version.$error" data-ng-show="!editForm.version.$valid && editForm.version.$dirty" multiple>
	    	    <div data-ng-message="required">Version is required.</div>
	    	    <div data-ng-message="pattern">Frong format (format: 1.1.1)</div>
	    	</div>
	    </md-input-container>
	    <!-- /Hardware version -->
	    <!-- Drop file zone -->
	    <div ngf-drop 
	    	 ngf-select 
	    	 data-ng-model="file" 
	    	 class="drop-box ngf-file-upload-zone" 
	    	 ngf-drag-over-class="'dragover'" 
	    	 ngf-multiple="false" 
	    	 ngf-allow-dir="false"
	    	 >
	    	 <div data-ng-show="!file">
	    	 	Drop your file here or click to upload.
	    	 </div>
	    	 <div data-ng-show="file">
	    	 	<strong>File ready for upload</strong><br><a href="#" data-ng-click="clearFileClicked($event)">Reset</a>
	    	 </div>
	    </div>
	    <!-- /Drop file zone -->
	</form>
</div>
<div class="modal-footer">
	<div class="f-l" data-ng-show="processing">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="progress__unsized"></md-progress-circular>
	</div>
    <button ui-wave class="btn btn-flat btn-default" data-ng-click="cancel()">Cancel</button>
    <md-button 
        ui-wave 
        class="md-raised btn-w-md md-primary"
        data-ng-click="upload()"
    	data-ng-disabled="!editForm.$valid || !file || processing">
        Upload
    </md-button>
</div>
<!-- /Firmware upload dialog -->