<!-- Admin firmwares -->
<div ng-controller="adminFirmwaresCtrl">
	<!-- Loading -->
	<div class="text-center" ng-show="loading">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading -->
	<!-- No items message -->
	<h4 class="tab-big-message" ng-show="!items.length && !loading">Fimwares list is empty.</h4>
	<!-- /No items message -->
	<div class="admin-search-upload-container" ng-show="!loading">
		<!-- Items search -->
		<div class="admin-search-wrap">
			<md-input-container class="w-100 input-container-search" autofocus>
			    <label>Search</label>
			    <input type="text" placeholder="Firmware version" ng-model="search.version">
			</md-input-container>
		</div>
		<!-- /Items search -->
		<!-- Item upload -->
		<div class="admin-upload-btn-wrap">
			<md-button ng-click="uploadItemClicked()" class="md-raised md-primary">Upload</md-button>
		</div>
		<!-- Item upload -->
	</div>
	<!-- Items list -->
	<md-list ng-show="!loading && items.length" class="admin-items-list">
	    <div ng-repeat="item in items | filter:search:strict" ng-init="hidden = true">
	        <!-- Item info -->
	        <md-list-item>
	            <p>
	            	<a class="item-link" href="#" ng-click="hidden = !hidden">
	            		{{item.hardwareType}} ({{item.version}} <span data-ng-if="item.productionAllowed">P</span><span data-ng-if="!item.productionAllowed">T</span>)
	            	</a>
	            </p>
	            <div>
	            	<md-button class="md-primary md-icon-button btn-edit" ng-click="hidden = !hidden">
	            	    <i class="icon-cog"></i>
	            	    <md-tooltip>
	            	        Edit {{item.hardwareType}} ({{item.version}})
	            	    </md-tooltip>
	            	</md-button>
	                <md-button class="md-warn md-icon-button" ng-click="removeItemClicked($event, item)">
	                    <i class="icon-cancel"></i>
	                    <md-tooltip>
	                        Remove {{item.hardwareType}} ({{item.version}})
	                    </md-tooltip>
	                </md-button>
	            </div>
	            <md-divider ng-if="!$last"></md-divider>
	        </md-list-item>
	        <!-- /Item info -->
	        <!-- Item config -->
	        <div class="container-edit" ng-hide="hidden">
	        	<div class="row">
	        		<div class="col-md-3">
	        		    <md-switch ng-model="item.productionAllowed" aria-label="Production avaliable" ng-change="productionAllowedChanged($event, item)">
	        		        production allowed
	        		    </md-switch>
	        		</div>
	        	</div>
	        </div>
	        <!-- /Item config -->
	    </div>
	</md-list>
	<!-- /Items list -->
	<!-- Loading more btn -->
	<div class="tab-small-message" ng-show="loadingMoreAvaliable && !loadingMore && !loading && items.length">
	    <md-button ng-click="loadMoreClicked()" class="md-raised md-primary">Load more</md-button>
	</div>
	<!-- /Loading more btn -->
	<!-- Loading more -->
	<div class="text-center" ng-show="loadingMore && !loading">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading more -->
</div>
<!-- /Admin firmwares -->