<!-- Add devices dialog -->
<div class="modal-header clearfix">
    <h3 class="pull-left">Add devices</h3>
</div>
<div class="modal-body">
	<form name="editForm">
	    <!-- Devices count -->
		<md-input-container class="flex w-100">
			<label>Devices count</label>
			<input required 
				   type="number" 
				   name="devicesCount" 
				   data-ng-model="devicesCount" 
				   data-ng-keypress="devicesCountPressed($event)"
				   min="1"
				   autofocus>
		</md-input-container>
	    <!-- /Devices count -->
	</form>
</div>
<div class="modal-footer">
	<a 
		href="#"
		class="btn"
		data-ng-click="cancel()">
		Cancel
	</a>
    <a 
    	href="#" 
        class="btn btn-blue"
        data-ng-class="{'btn-loading': processing}"
        data-ng-click="add()"
    	data-ng-disabled="!editForm.$valid">
        Add
    </a>
</div>
<!-- /Add devices dialog -->