<div data-ng-controller="companySubscriprtionCtrl">
	<!-- Loading -->
	<div class="text-center" data-ng-show="loading">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading -->
	<!-- Start subscription -->
	<div data-ng-hide="user.company.subscription || loading">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h4>You have not subscribe to any plan yet</h4>
			</div>
		</div>
		<div class="row m-t-10" data-ng-repeat="plan in subscriptionPlans">
			<div class="col-md-2 col-md-offset-4">
				<h5>{{plan.name}}</h5>
				<b>${{plan.price}}/month</b>
			</div>
			<div class="col-md-2 text-right">
				<md-button data-ng-click="subscribeForPlanClicked($event, plan)" class="md-primary">Subscribe</md-button>
			</div>
		</div>
	</div>
	<!-- /Start subscription -->
	<!-- Subscription -->
	<div data-ng-show="user.company.subscription && !loading">
		<div class="row">
			<div class="col-md-6 text-right"><b>Plan:</b></div>
			<div class="col-md-6">{{planIdToName(user.company.subscription.planId)}}</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-right"><b>Active:</b></div>
			<div class="col-md-6">
				<span data-ng-show="user.company.subscription.isActive">yes</span><span data-ng-show="!user.company.subscription.isActive">no</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-right"><b>Devices count:</b></div>
			<div class="col-md-6">{{user.company.subscription.devicesCount}} (<a href="#" data-ng-click="addDevicesClicked($event)">add more</a>)</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-12 text-center">
				<md-button data-ng-click="unsubscribeClicked()" class="md-warn">Unsubscribe</md-button>
			</div>
		</div>
	</div>
	<!-- Subscription -->
</div>