<div class="app-modal">
    <a href="#" class="app-modal__close" data-ng-click="cancel()"></a>
    <div class="text-center app-modal__header">
        <i class="app-icon app-icon-web-view-app"></i><span>Add page</span>
    </div>
    <div class="app-modal__body">
        <md-input-container class="w-100">
            <label>Page URL</label>
            <input data-ng-model="url" autofocus data-ng-keypress="urlKeyPress($event)">
        </md-input-container>
    </div>
    <div class="app-modal__footer">
        <a 
            href="#"
            class="btn btn-blue" 
            data-ng-click="ok()">
            add page
        </a>
    </div>
</div>