.app-edit{
	padding: 41px 33px 34px 33px;
	background-color: $white;
	&__header{
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__title{
		font-size: 16.7px;
		font-weight: bold;
		color: $warm-grey-two;
	}
	&__descr{
		color: $gray-light;
		font-size: 12.7px;
		font-weight: 500;
		color: $greyish;
		margin-top: 7px;
	}
	&__hint{
		color: $gray-light;
		font-size: 14px;
		font-family: 'Futura', sans-serif;
		font-weight: bold;
		margin-top: 16px !important;
	}
	&__control-btns{
		text-align: right;
	}
	&__row{
		margin-top: 10px;
	}
	&__subtitle{
		text-transform: uppercase;
		font-size: 16px;
		margin: 0 0 20px 0;
		padding: 0;
	}
	&__color-select-block{
		position: relative;
		top: -20px;
	}
	&__color-select{
		$font-size: 12px;
		$input-height: 18px;
		md-input-container{
			padding: 0;
			margin:  36px 0 0 14px;
		}
		label{
			color: $gray !important;
			font-size: $font-size;
		}
		input{
			border: none;
			color: $gray;
			font-size: $font-size;
			height: $input-height;
			line-height: $input-height - 4px;
		}
	}
	&__map{
		.angular-google-map{
			width: 100%;
			height: 100%;
		}
		.angular-google-map-container{
			width: 100%;
			height: 100%;
		}
	}
	&__round{
		border-radius: 50%;
		overflow: hidden;
	}
	&__duration{
		width: 130px;
		a, a:link, a:visited, a:active{
			color: #3D4051;
		}
		a:hover{
			text-decoration: none;
			opacity: .5;
		}
	}
}

.app-edit-duration{
	width: 130px;
	a, a:link, a:visited, a:active{
		color: #3D4051;
	}
	a:hover{
		text-decoration: none;
		opacity: .5;
	}
	&__clock{
		background-image: url('/assets/img/ui/icons/pando-icon-clock.svg');
		background-size: 28px 28px;
		width: 28px;
		height: 28px;
		display: inline-block;
		position: relative;
		top: 4px;
	}
	&__time{
		font-size: 26px;
	}
	&__label{
		color: $gray-light;
	}

}