.app-edit-twitter{
	&__widget{
		width: 40%;
	}
}

/*============ Widget ============*/

.twitter-widget{
	height: 0;
	padding-bottom: 100%;
	position: relative;
	&__container{
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-pando-light;
		border-radius: 10px;
		overflow: hidden;
		color: white;
	}
	&__header{
		background-color: $color-pando-dark;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 20%;
	}
	&__content{
		color: white;
		position: absolute;
		top: 57%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		text-align: center;
		font-size: 24px;
	}
}