<!-- Display graphics -->
<div data-ng-controller="appEditGraphicsCtrl" class="app-edit">
	<div>
	    <!-- Tiles list header -->
	    <div class="app-edit__header">
	    	<div>
	    		<h3 class="app-edit__title">{{app.name | appToName}}</h3>
	    		<div class="app-edit__descr">{{app.name | appToDesc}}</div>
	    		<div class="app-edit__hint" 
	    			 data-ng-if="resolution">
	    			Recommend image resolution: {{resolution.width}} x {{resolution.height}}
	    		</div>
	    	</div>
	        <div class="hidden">
	            <md-button class="md-fab md-primary" data-ngf-select="uploadItemsEvent($files)" data-ngf-pattern="'.jpg,.jpeg,.gif,.png'"
    data-ngf-accept="'image/*'" data-ngf-max-size="20MB" data-ngf-multiple="true" id="app-graphics-add-btn">
	                <md-tooltip>Click to add new item</md-tooltip>
	                <span class="icon-plus"></span>
	            </md-button>
	        </div>
	    </div>
	    <!-- /Tiles list header -->
	    <!-- Tiles list -->
	    <graphic-items-list data-app="app"></graphic-items-list>
	    <!-- /Tiles list -->
	</div>
</div>
<!-- /Display graphics -->