<!-- Display twitter -->
<div data-ng-controller="appTwitterCtrl" class="app-edit">
	<div class="app-edit__header">
		<div>
    		<h3 class="app-edit__title">{{app.name | appToName}}</h3>
    		<div class="app-edit__descr">{{app.name | appToDesc}}</div>
		</div>
    	<div class="app-edit-duration">
    		<a href="#" mdc-datetime-picker date="false" time="true" minutes="true" min-date="minDate" format="HH:mm" data-ng-model="app.duration" data-ng-change="durationChanged()">
            <span class="app-edit-duration__time"><span class="app-edit-duration__clock"></span> {{app.duration}} min</span><br>
            <span class="app-edit-duration__label">Max duration</span><br>
        	</a>
    	</div>
		<div class="app-edit__control-btns">
			<md-button data-ng-click="cancelClicked()">Cancel</md-button>
			<md-button class="md-raised md-primary" data-ng-click="saveClicked()">Save</md-button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<!-- Chips -->
			<div>Enter hashtag or user login</div>
			<md-chips data-ng-model="queries" placeholder="Enter a #tag or @login"   md-on-append="transformChip($chip)" md-separator-keys="separatorKeys">
			</md-chips>
			<!-- /Chips -->
			<!-- Title -->
			<div class="app-edit__row">
				<md-input-container class="w-100">
				    <label>Title</label>
				    <input data-ng-model="title">
				</md-input-container>
			</div>
			<!-- /Title -->
			<!-- Main configs -->
			<div class="app-edit__row">
				<div class="row">
					<div class="col-md-6">
						<md-input-container class="w-100">
						    <label>Duration (seconds)</label>
						    <input data-ng-model="duration" type="number" min="1">
						</md-input-container>
					</div>
					<div class="col-md-6">
						<md-input-container class="w-100">
						    <label>Posts count</label>
						    <input data-ng-model="postsCount" type="number" min="1">
						</md-input-container>
					</div>
				</div>
			</div>
			<!-- /Main configs -->
			<!-- Theme -->
			<div class="app-edit__row">
				<div class="row">
					<div class="col-md-12">
						<div class="app-edit__subtitle">
							Theme
						</div>
					</div>
				</div>
				<div class="row app-edit__color-select-block">
					<div class="col-md-4">
						<div label="Header color" md-color-picker random="true" data-ng-model="headerColor" open-on-input="true" class="w-100 app-edit__color-select"></div>
					</div>
					<div class="col-md-4">
						<div label="Body color" md-color-picker random="true" data-ng-model="bodyColor" open-on-input="true" class="w-100 app-edit__color-select"></div>
					</div>
					<div class="col-md-4">
						<div label="Text color" md-color-picker random="true" data-ng-model="textColor" open-on-input="true" class="w-100 app-edit__color-select"></div>
					</div>
				</div>
			</div>
			<!-- /Theme -->
			<!-- Theme preview -->
			<div class="app-edit__row">
				<div class="row">
					<div class="col-md-12">
						<div class="app-edit__subtitle">
							Preview
						</div>
					</div>
				</div>
				
				<div class="app-edit-twitter__widget"> 
	                <div class="twitter-widget">
	                	<div class="twitter-widget__container" style="background-color: {{bodyColor}};">
	                	    <div class="twitter-widget__header" style="background-color: {{headerColor}}"></div>
	                	    <div class="twitter-widget__content" style="color: {{textColor}}">
	                	    	#Hashtag
	                	    </div>
	                	</div>
	                </div>
	            </div>
			</div>
			<!-- /Theme preview -->
		</div>
		<div class="col-md-5 col-md-offset-2">
			<!-- Location -->
			<div>
				<md-checkbox data-ng-model="locationEnabled" aria-label="Use location" data-ng-change="useLocationChanged()">use location</md-checkbox>
			</div>
			<div data-ng-show="locationEnabled">
				<div class="app-edit__row m-t-0">
					<md-input-container class="w-100 m-b-0">
					    <label>Location</label>
					    <input google-place data-ng-model="location" data-ng-change="placeChanged()" />
					</md-input-container>
				</div>
				<div class="app-edit__row">
					<div><b>Radius ({{circle.radius}} m.):</b></div>
					<md-slider min="1000" max="100000" data-ng-model="circle.radius" aria-label="Radius" class="md-primary w-100"></md-slider>
				</div>
				<div class="app-edit__row">
					<div>Tap on map to select location.</div>
					<div class="proportional-100 app-edit__map">
						<div class="proportional__child">
							<ui-gmap-google-map center='map.center' zoom='map.zoom' options='{scrollwheel: false}'>
							    <ui-gmap-circle center="circle.center" radius="circle.radius" stroke="circle.stroke" fill="circle.fill" editable="true" geodesic="true" draggable="true" editable="true"></ui-gmap-circle>
							</ui-gmap-google-map>
						</div>
					</div>
				</div>
			</div>
			<!-- /Location -->
		</div>
	</div>
</div>
<!-- /Display twitter -->