<!-- Display webview -->
<div data-ng-controller="appWebviewCtrl" class="app-edit">
	<div>
	    <!-- Tiles list header -->
	    <div class="app-edit__header">
	    	<div>
		    	<h3 class="app-edit__title">{{app.name | appToName}}</h3>
		    	<div class="app-edit__descr">{{app.name | appToDesc}}</div>
	    	</div>
	    </div>
	    <!-- /Tiles list header -->
	    <!-- Tiles list -->
	    <graphic-items-list data-app="app"></graphic-items-list>
	    <!-- /Tiles list -->
	</div>
</div>
<!-- /Display webview -->