.circles-chart{
    &__svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%; /* aspect ratio */
        vertical-align: top;
        overflow: hidden;
    }

    &__svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__inner_area{
        fill: #0d42ea;
    }
    &__circle{
        &_visitor{
            fill: #ffffff;
            stroke: rgba(#ffffff, .7);
        }
        &_bonuced{
            fill: #970af2;
            stroke: rgba(#970af2, .7);
        }
        &_walkby{
            fill: #1ed8cf;
            stroke: rgba(#1ed8cf, .7);
        }
    }
}