<!-- Admin devices -->
<div data-ng-controller="adminDevicesCtrl">
    <!-- Loading -->
    <div data-ng-show="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
    </div>
    <!-- /Loading -->
    <!-- No devices message -->
    <h4 class="tab-big-message" data-ng-show="!devices.length && !loading">Devices list is empty.</h4>
    <!-- /No devices message -->
    <!-- Devices search -->
    <md-input-container data-ng-show="!loading && devices.length" class="w-100 input-container-search" autofocus>
        <label>Search</label>
        <input type="text" placeholder="Device name" data-ng-model="search.name">
    </md-input-container>
    <!-- /Devices search -->
    <!-- Devices list -->
    <md-list data-ng-show="!loading && devices.length" class="admin-items-list">
        <div data-ng-repeat="device in devices | filter:search:strict" data-ng-controller="adminSignleDeviceCtrl" data-ng-init="hidden = true">
            <!-- Device info -->
            <md-list-item>
                <p><a class="item-link" href="#" data-ng-click="hidden = !hidden"><b>{{device.deviceId}}:</b> {{device.name}}</a></p>
                <div>
                    <md-button class="md-primary md-icon-button btn-edit" data-ng-click="hidden = !hidden">
                        <i class="icon-cog"></i>
                        <md-tooltip>
                            Edit {{device.name}}
                        </md-tooltip>
                    </md-button>
                    
                    <md-button class="md-warn md-icon-button" data-ng-click="removeDeviceClicked($event, device)">
                        <i class="icon-cancel"></i>
                        <md-tooltip>
                            Remove {{device.name}}
                        </md-tooltip>
                    </md-button>
                    
                </div>
                <md-divider data-ng-if="!$last"></md-divider>
            </md-list-item>
            <!-- /Device info -->
            <!-- Device config -->
            <div class="container-edit" data-ng-hide="hidden">
                <div data-ng-show="loading">
                    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
                </div>
                <div data-ng-show="!loading">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="m-t-5">
                                <b>MAC: </b> {{info.hardwareId}}
                            </div>
                            <div class="m-t-5">
                                <b>Firmware: </b> {{info.firmwareVersion}}
                            </div>
                            <div class="m-t-5">
                                <b>Connected: </b> {{realtime.connected}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="m-t-5">
                                <b>SSID: </b> {{info.hardwareConfiguration.internetConnection.ssid}}
                            </div>
                            <div class="m-t-5">
                                <b>Address: </b> {{info.hardwareConfiguration.internetConnection.address}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Production status -->
                            <md-switch data-ng-model="productionStatus" aria-label="Production" data-ng-change="productionStatusChanged($event)">
                                    production status
                            </md-switch>
                            <!-- /Production status -->
                        </div>
                    </div>
                </div>
                <!-- Device logs -->
                <h5 data-ng-show="!loading && !logEntries.length">No logs found (<a href="#" data-ng-click="requestLogsClicked()">request</a>)</h5>
                <div data-ng-show="!loading && logEntries.length"><b>Logs (<a href="#" data-ng-click="requestLogsClicked()">request</a>):</b></div>
                <md-list data-ng-show="!loading && logEntries.length">
                    <md-list-item data-ng-repeat="entry in logEntries">
                        <p>
                            <a href="#" data-ng-click="logEntryClicked($event, entry)">
                                Log: {{entry.entryId}} ({{entry.created}})
                            </a>
                        </p>
                        <div>
                            <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center" data-ng-show="entry.downloading"></md-progress-circular>
                            <md-button class="md-warn md-icon-button" data-ng-hide="entry.downloading" data-ng-click="removeLogEntryClicked($event, entry)">
                                <i class="icon-cancel"></i>
                                <md-tooltip>
                                    Remove {{entry.entryId}}
                                </md-tooltip>
                            </md-button>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
                <!-- /Device logs -->
            </div>
            <!-- /Device config -->
        </div>
    </md-list>
    <!-- /Devices list -->
    <!-- Loading more btn -->
    <div class="tab-small-message" data-ng-show="loadingMoreAvaliable && !loadingMore && !loading">
        <md-button data-ng-click="loadMoreClicked()" class="md-raised md-primary">Load more</md-button>
    </div>
    <!-- /Loading more btn -->
    <!-- Loading more -->
    <div class="text-center" data-ng-show="loadingMore && !loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
    </div>
    <!-- /Loading more -->
</div>
<!-- /Admin devices -->