<div data-ng-controller="companyInfoCtrl">
    <company-edit-form company="user.company" valid="companyEditFormValid"></company-edit-form>
    <!-- Save -->
    <div class="row">
        <div class="col-md-12">
            <a 
                href="#"
                data-ng-click="saveCompanyClicked()"
                class="btn btn-blue"
                data-ng-class="{'btn-loading': saving}"
                data-ng-disabled="!companyEditFormValid">
                Save
            </a>
        </div>
    </div>
    <!-- /Save -->
</div>