<div class="app-container" data-ng-show="userDataLoaded">
    <div class="content-block">
        <div class="content-block__body">
            <!-- Company tabs -->
            <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                <!-- Company info tab -->
                <md-tab label="Info">
                    <div 
                        class="tab-content" 
                        data-ng-include="'app/components/company/info/infoView.html'">
                    </div>
                </md-tab>
                <!-- /Company info tab -->
                <!-- Company billing -->
                <md-tab label="Billing">
                    <div 
                        class="tab-content"
                        data-ng-include="'app/components/company/billing/billingView.html'">
                    </div>
                </md-tab>
                <!-- /Company billing -->
                <!-- Company Subscription -->
                <md-tab label="Subscription">
                    <div 
                        class="tab-content" 
                        data-ng-include="'app/components/company/subscription/subscriptionView.html'">
                    </div>
                </md-tab>
                <!-- /Company Subscription -->
                <!-- Users -->
                <md-tab label="Users">
                    <div 
                        class="tab-content"
                        data-ng-include="'app/components/company/users/usersView.html'">
                    </div>
                </md-tab>
                <!-- /Users -->
                <!-- Users -->
                <md-tab label="Integrations">
                    <div 
                        class="tab-content"
                        data-ng-include="'app/components/company/integr/integrView.html'">
                    </div>
                </md-tab>
                <!-- /Users -->
            </md-tabs>
            <!-- /Company tabs -->
        </div>
    </div>
</div>