<!-- Page -->
<div class="auth-page">
	<!-- Logo -->
	<div class="auth-page__logo">
		<a data-ui-sref="/" >Pando</a>
	</div>
	<!-- /Logo -->
	<!-- Content -->
	<div class="auth-page__container" data-ui-view></div>
	<!-- /Content -->
</div>
<!-- /Page -->