.auth-page{
	width: 100%;
	height: 100%;
	background: url('/assets/img/auth/background.png') !important;
	background-repeat: no-repeat !important;
	background-position: top center !important;
	background-size: cover  !important;
	position: relative;
	@media (max-width: $screen-tablet){
		background-image: none;
		background-color: white;
	}
	&__logo{
		position: absolute;
		top: 50px;
		left: 50px;
		a{
			display: block;
			width: 65px;
			height: 95px;
			background-image: url(/assets/img/auth/logo.png);
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
		@media (max-width: $screen-tablet  + 65px * 2){
			display: none;
		}
	}
	&__container{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
		@media (max-width: $screen-tablet){
			position: relative;
			top: 0;
			left: 0;
			@include transform(none !important);
			width: 100%;
			height: 100%;
		}
	}
}