.auth-container{
	padding: 30px 50px;
	background-color: white;
	width: 520px;
	@media (max-width: $screen-tablet){
		width: 100%;
		height: 100%;
		padding: 30px 50px;
	}
	@media (max-width: $screen-phone){
		padding: 30px 30px;
	}
	&__title{
		font-weight: bold;
		color: #003af6;
		font-size: 32.75px;
		margin-bottom: 50px;
		text-align: center;
	}
	&__content{

	}
	&__footer{
		margin-top: 27.2px;
	}
	&__reset-pass{
		margin-top: 20px;
	}
	.tabs-flat{
		margin-bottom: 30px;
	}
	&-copyright{
		font-size: 10px;
		color: #989a9c;
		text-align: center;
		a{
			&:link, &:active, &:visited{
				color: #989a9c;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}