<!-- Activate your 1st application dialog -->
<div class="app-modal">
    <a href="#" class="app-modal__close" data-ng-click="cancel()"></a>
    <div class="text-center app-modal__header">
        <h2>Activate your 1st application</h2>
    </div>
    <div class="app-modal__body">
        <div class="text-center">
            <img src="assets/img/ui/components/icon-apps.png" style="margin-top: 50px;" alt="Activate your 1st application">
        </div>
    </div>
    <div class="app-modal__footer">
        <md-button class="md-raised md-primary" data-ng-click="ok()">Ok</md-button>
    </div>
</div>
<!-- /Activate your 1st application dialog -->