$app-widget-item-size: 48px;
$app-widget-twitter-size: 56px;

/*============ Widget graphics ============*/

.app-widget-graphics-list{
	padding: 0;
	margin: 0;
	margin-top: 24px;
	list-style: none;
	width: 224px;
	text-align: right;
	li{
		display: inline-block;
		padding: 0;
		margin: 0 0 0 4px;
	}
	a{
		background-color: $white-four;
		background-size: cover;
		border-radius: 5px;
		color: $electric-blue;
		display: inline-block;
		height: $app-widget-item-size;
		width: $app-widget-item-size;
		&:hover{
			opacity: .5;
		}
	}
}

.app-widget-graphics-add{
	font-size: 18px;
	position: relative;
	&:link, &:visited, &:active{
		text-decoration: none;
	}

	&:hover{
		text-decoration: none;
	}

	&:before{
		line-height: $app-widget-item-size !important;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center !important;
		display: block !important;
		width: 100% !important;
		margin: 0 !important;
	}
}

.app-widget-graphics-descr{
	color: $gray-light;
	font-size: 12px;
	margin-top: 4px;
	text-align: right;
}

/*============ Widget twitter ============*/

.app-widget-twitter{
	margin-top: 30px;
	text-align: right;
	&-container{
		width: $app-widget-twitter-size;
		height: $app-widget-twitter-size;
		line-height: $app-widget-twitter-size;
		background-color: $color-pando-light;
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		color: white;
		font-size: 12px;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
	}
	&-header{
		background-color: $color-pando-dark;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 20%;
		display: block;
	}
	
}

/*============ Hash ============*/

.app-widget-hash{
	margin: 0;
	padding: 0;
	list-style: 0;
	text-align: right;
	li{
		margin: 0 3px 3px 0;
		padding: 0px 12px;
		display: inline-block;
		color: white;
		background-color: $color-pando-dark;
		font-size: 12px;
		line-height: 20px;
		height: 20px;
		border-radius: 10px;
	}
}