<div class="b-trafic" data-ng-controller="traficStatsCtrl">
	<!-- Analytics -->
	<div class="b-analytics">
		<div class="b-analytics__title g-flex g-justify-space-between">
			<div class="b-section-title b-section-title_underline b-section-title_large">Your traffic</div>
			<!-- Select period -->
			<div class="b-analytics-period">
				<div>
					<md-input-container class="b-select-box b-select-box_green">
					  <md-select data-ng-model="period" data-ng-change="periodChanged()" placeholder="Select end period">
					    <md-option data-ng-value="opt.val" data-ng-repeat="opt in endPeriods">{{ opt.name }}</md-option>
					  </md-select>
					</md-input-container>
				</div>
				<div class="b-analytics-period__vs">
					vs
				</div>
				<div>
					<md-input-container class="b-select-box">
					  <md-select data-ng-model="period" data-ng-change="periodChanged()" placeholder="Select start period">
					    <md-option data-ng-value="opt.val" data-ng-repeat="opt in startPeriods">{{ opt.name }}</md-option>
					  </md-select>
					</md-input-container>
				</div>
			</div>
			<!-- /Select period -->
		</div>
		<!-- Analytics section -->
		<div class="b-analytics__section">
			<!-- Avarage shop time -->
			<div 
				class="b-analytics__subsection" 
				data-ng-include="'app/components/locationStats/averageShopTimeChart/averageShopTimeChartView.html'">
			</div>
			<!-- /Avarage shop time -->
		</div>
		<!-- /Analytics section -->
		<!-- Analytics section -->
		<div class="b-analytics__section">
			<div 
				class="b-analytics__subsection"
				data-ng-include="'app/components/locationStats/conversionChart/conversionChartView.html'">
			</div>
		</div>
		<!-- /Analytics section -->
		<!-- Analytics section -->
		<div class="b-analytics__section b-analytics__section_no-border">
			<!-- Subsection -->
			<div 
				class="b-analytics__subsection"
				data-ng-include="'app/components/locationStats/visitByHourOfDayChart/visitByHourOfDayChartView.html'">
			</div>
			<!-- /Subsection -->
		</div>
		<!-- /Analytics section -->
		<!-- Analytics section -->
		<div class="b-analytics__section">
			<!-- Subsection -->
			<div
				class="b-analytics__subsection"
				data-ng-include="'app/components/locationStats/visitByDayOfWeekChart/visitByDayOfWeekChartView.html'">
			</div>
			<!-- /Subsection -->
		</div>
		<!-- /Analytics section -->
	</div>
	<!-- /Analytics -->
</div>