.timeline-control{

}

.timeline-control-bar{
	display: block;
	width: 100%;
	position: relative;
	background-color: #00ffff;
	height: 3px;
	position: relative;
	&:before, &:after{
		position: absolute;
		content: ' ';
		display: block;
		height: 13px;
		width: 2px;
		background-color: #00ffff;
		top: -5px;
	}
	&:before{
		left: 0;
	}
	&:after{
		right: 0;
	}
	&__handler{
		position: relative;
		left: -10px;
		.timeline-control-handler{
			position: absolute;
			top: -9px;
			left: 0%;
			z-index: 2;
			@include transform(left .2s ease-in-out);
		}
	}
	&__tooltip{
		&.timeline-control-tooltip{
			position: absolute;
			top: 30px;
		}
		&_left{
			left: -20px;
		}
		&_right{
			right: -20px;
		}
	}
}

.timeline-control-handler{
	width: 21px;
	height: 21px;
	display: block;
	background-color: white;
	position: relative;
	border-radius: 50%;
	cursor: pointer;
	&:after{
		content:  ' ';
		position: absolute;
		display: block;
		width: 7px;
		height: 7px;
		background-color: #02c9c4;
		top: 7px;
		left: 7px;
		border-radius: 50%;
	}
	&__tip{
		position: absolute;
		display: block;
		width: 41px;
		font-size: 12px;
		color: white;
		top: -27px;
		left: -10px;
		text-align: center;
	}
}

.timeline-control-tooltip{
	color: white;
	display: block;
	font-size: 8px;
	color: #136aad;
	border: 1px solid #136aad;
	border-radius: 5px;
	padding: 6px 12px;
	text-transform: uppercase;
	position: relative;
	&:before,
	&:after{
		content: '';
	    display: block;
	    position: absolute;
	    width: 0;
	    height: 0;
	    @include transform(rotate(45deg));
	}
	&:before{
		border-top: 10px solid #136aad;
		border-right: 10px solid transparent;
		top: 0;
		left: 50%;
		margin-left: -5px;
		top: -5px;
	}
	&:after{
		border-top: 9px solid #011d33;
		border-right: 9px solid transparent;
		top: 0;
		left: 50%;
		margin-left: -4px;
		top: -4px;
	}
	&_left{
		&:before{
			left: 20px;
		}
		&:after{
			left: 20px;
		}
	}
	&_right{
		&:before{
			left: initial;
			right: 20px;
			margin-left: 0px;
			margin-right: -5px;
		}
		&:after{
			left: initial;
			right: 20px;
			margin-left: 0px;
			margin-right: -4px;
		}
	}
}