<div class="b-chart-container">
	<div class="b-chart-container__title">
		Average Shop Time
	</div>
	<div class="b-chart-container__content b-avarage-shoptime-chart" data-ng-controller="averageShopTimeChartCtrl">
		<!-- Chart with widgets -->
		<div class="b-chart-with-widgets b-chart-with-widgets_left">
			<!-- Chart -->
			<div class="b-chart-with-widgets__chart">
				<!-- Chart view -->
				<div class="b-chart b-chart_doughnut">
				    <div class="b-chart__wrap">
				        <div class="b-chart__chart" data-ng-hide="loading || loadingErr">
				            <canvas class="chart chart-doughnut" 
				                    chart-data="chart.data" 
				                    chart-labels="chart.labels"
				                    chart-options="chart.options"
				                    chart-colors="chart.colors"
				                    width="188"
				                    height="188">
				            </canvas>
				        </div>
				        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
				            <div class="b-icon-progress"></div>
				        </div>
				        <div class="b-chart__retry"  data-ng-show="loadingErr">
				            <div class="b-chart__retry-title">Chart loading error</div>
				            <div class="b-chart__retry-btn">
				                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
				            </div>
				        </div>
				        <!-- Chart info -->
				        <div class="b-chart__center" data-ng-hide="loading || loadingErr">
				        	<div class="b-chart-info">
				        		<div class="b-chart-info_violet-light">
				        			{{analyticsData.aveDurations.cur.visits | number:0}} min
				        		</div>
				        		<div class="b-chart-info_violet-dark b-chart-info_bold">
				        			<i class="{{valuesChangingArrowClass(analyticsData.aveDurations.prev.visits, analyticsData.aveDurations.cur.visits)}}"></i> {{valuesChangingInProcents(analyticsData.aveDurations.prev.visits, analyticsData.aveDurations.cur.visits, true)}}
				        		</div>
				        	</div>
				        </div>
				        <!-- /Chart info -->
				    </div>
				</div>
				<!-- /Chart view -->
			</div>
			<!-- /Chart -->
			<!-- Widgets -->
			<div class="b-chart-with-widgets__widgets">
				<!-- New visitors -->
				<div class="b-amount-widget b-amount-widget_violet-light">
					<div class="b-amount-widget__info">
						<span class="b-amount-widget__val">
							{{analyticsData.eventsCount.cur.new}}
						</span>
						<span class="b-amount-widget__proc">
							{{valuesChangingInProcents(analyticsData.eventsCount.prev.new, analyticsData.eventsCount.cur.new)}}
						</span>
					</div>
					<div class="b-amount-widget__label">
						New visitors
					</div>
				</div>
				<!-- /New visitors -->
				<!-- Returning visitors -->
				<div class="b-amount-widget  b-amount-widget_violet-dark">
					<div class="b-amount-widget__info">
						<span class="b-amount-widget__val">
							{{analyticsData.eventsCount.cur.returning}}
						</span>
						<span class="b-amount-widget__proc">
							{{valuesChangingInProcents(analyticsData.eventsCount.prev.returning, analyticsData.eventsCount.cur.returning)}}
						</span>
					</div>
					<div class="b-amount-widget__label">
						Returning visitors
					</div>
				</div>
				<!-- /Returning visitors -->
			</div>
			<!-- /Widgets -->
		</div>
		<!-- /Chart with widgets -->
	</div>
</div>