<!-- Apps upload dialog -->
<div class="modal-header clearfix">
    <h3 class="pull-left">Upload application</h3>
</div>
<div class="modal-body">
	<form name="editForm">
		<!-- Hardware name -->
		<md-input-container class="flex w-100 full-autocomplete">
			<label>Application name</label>
			<input  type="text" 
					name="name"
					required
					ng-minlength="3" 
					autofocus 
					ng-model="applicationName"
					ng-change="applictionNameChanged()"
					typeahead-on-select = "applictionNameChanged()"
					uib-typeahead="applicationName for applicationName in applicationNames | filter:$viewValue | limitTo:8"
					class="form-control"
					placeholder="Applicaciton name">
			<div class="md-input-message" ng-messages="editForm.name.$error" ng-show="!editForm.name.$valid && editForm.name.$dirty" multiple>
			    <div ng-message="required">Name is required.</div>
			    <div ng-message="minlength">Your name is too short.</div>
			</div>
		</md-input-container>
		<!-- /Hardware name -->
	    <!-- Hardware type -->
		<md-input-container class="flex w-100">
			<label>Hardware type</label>
			<md-select ng-model="hardwareType" name='hardware' required>
				<md-option ng-repeat="hardware in hardwareTypes" value="{{hardware.val}}">
					{{hardware.name}}
				</md-option>
			</md-select>
			<div class="md-input-message" ng-messages="editForm.hardware.$error" ng-show="!editForm.hardware.$valid && editForm.hardware.$dirty" multiple>
			    <div ng-message="required">Hardware type is required.</div>
			</div>
		</md-input-container>
	    <!-- /Hardware type -->
	    <!-- Hardware version -->
	    <md-input-container class="flex w-100">
	    	<label>Application version</label>
	    	<input 
	    		type="text" 
	    		name="version"
	    		required
	    		placeholder="0.0.0" 
	    		ng-pattern="/^\d+\.\d+\.\d+$/" 
	    		ng-model="applicationVersion" />
	    	<div class="md-input-message" ng-messages="editForm.version.$error" ng-show="!editForm.version.$valid && editForm.version.$dirty" multiple>
	    	    <div ng-message="required">Version is required.</div>
	    	    <div ng-message="pattern">Frong format (format: 1.1.1)</div>
	    	</div>
	    </md-input-container>
	    <!-- /Hardware version -->
	    <!-- Drop file zone -->
	    <div ngf-drop 
	    	 ngf-select 
	    	 ng-model="applicationFile" 
	    	 class="drop-box ngf-file-upload-zone" 
	    	 ngf-drag-over-class="'dragover'" 
	    	 ngf-multiple="false" 
	    	 ngf-allow-dir="false"
	    	 >
	    	 <div ng-show="!applicationFile">
	    	 	Drop zip archive here or click to upload.
	    	 </div>
	    	 <div ng-show="applicationFile">
	    	 	<strong>File ready for upload</strong><br><a href="#" ng-click="clearFileClicked($event)">Reset</a>
	    	 </div>
	    </div>
	    <!-- /Drop file zone -->
	</form>
</div>
<div class="modal-footer">
	<div class="f-l" ng-show="processing">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="progress__unsized"></md-progress-circular>
	</div>
    <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
    <md-button 
        ui-wave 
        class="md-raised btn-w-md md-primary"
        data-ng-click="upload()"
    	data-ng-disabled="!editForm.$valid || !applicationFile || processing">
        Upload
    </md-button>
</div>
<!-- /Apps upload dialog -->