<!-- Admin apps -->
<div data-ng-controller="adminAppsCtrl">
	<!-- Loading -->
	<div data-ng-show="loading">
	   <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading -->
	<!-- No items message -->
	<h4 class="tab-big-message" data-ng-show="!items.length && !loading">Apps list is empty.</h4>
	<!-- /No items message -->
	<div class="admin-search-upload-container">
		<!-- Items search -->
		<div class="admin-search-wrap">
			<md-input-container data-ng-show="!loading && items.length" class="w-100 input-container-search" autofocus>
			    <label>Search</label>
			    <input type="text" placeholder="Application name" data-ng-model="search.applicationName">
			</md-input-container>
		</div>
		<!-- /Items search -->
		<!-- Item upload -->
		<div class="admin-upload-btn-wrap" data-ng-show="!loading">
			<md-button data-ng-click="uploadItemClicked()" class="md-raised md-primary">Upload</md-button>
		</div>
		<!-- Item upload -->
	</div>
	<!-- Items list -->
	<md-list data-ng-show="!loading && items.length" class="admin-items-list">
	    <div data-ng-repeat="item in items | filter:search:strict" data-ng-init="hidden = true">
	        <!-- Item info -->
	        <md-list-item>
	            <p>
	            	<a class="item-link" href="#" data-ng-click="hidden = !hidden">
	            		{{item.applicationName}} ({{item.version}} <span data-ng-if="item.productionAllowed">P</span><span data-ng-if="!item.productionAllowed">T</span>) ({{item.hardwareType}})
	            	</a>
	            </p>
	            <div>
	                <md-button class="md-primary md-icon-button btn-edit" data-ng-click="hidden = !hidden">
	                    <i class="icon-cog"></i>
	                    <md-tooltip>
	                        Edit {{item.applicationName}}
	                    </md-tooltip>
	                </md-button>
	                <md-button class="md-warn md-icon-button" data-ng-click="removeItemClicked($event, item)">
	                    <i class="icon-cancel"></i>
	                    <md-tooltip>
	                        Remove {{item.applicationName}}
	                    </md-tooltip>
	                </md-button>
	            </div>
	            <md-divider data-ng-if="!$last"></md-divider>
	        </md-list-item>
	        <!-- /Item info -->
	        <!-- Item config -->
	        <div class="container-edit" data-ng-hide="hidden">
	        	<div class="row">
	        		<div class="col-md-3">
	        		    <md-input-container class="w-100">
	        		    	<label>Duration</label>
	        		    	<input type="number" data-ng-model="item.duration" min="0">
	        		    </md-input-container>
	        		</div>
	        		<div class="col-md-3">
	        		    <md-switch data-ng-model="item.retargetingAllowed" aria-label="Retargeting">
	        		        retargeting allowed
	        		    </md-switch>
	        		</div>
	        		<div class="col-md-3">
	        		    <md-switch data-ng-model="item.rentAllowed" aria-label="Rent">
	        		        retn allowed
	        		    </md-switch>
	        		</div>
	        		<div class="col-md-3">
	        		    <md-switch data-ng-model="item.productionAllowed" aria-label="Rent">
	        		        production allowed
	        		    </md-switch>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-md-11">
	        			<md-button class="md-raised md-primary" data-ng-click="saveItem(item)">Save</md-button>
	        		</div>
	        		<div class="col-md-1" data-ng-show="item.processing">
	        			<md-progress-circular md-mode="indeterminate" md-diameter="40px" class="progress__unsized"></md-progress-circular>
	        		</div>
	        	</div>
	        </div>
	        <!-- /Item config -->
	    </div>
	</md-list>
	<!-- /Items list -->
	<!-- Loading more btn -->
	<div class="tab-small-message" data-ng-show="loadingMoreAvaliable && !loadingMore && !loading && items.length">
	    <md-button data-ng-click="loadMoreClicked()" class="md-raised md-primary">Load more</md-button>
	</div>
	<!-- /Loading more btn -->
	<!-- Loading more -->
	<div data-ng-show="loadingMore && !loading">
	    <md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
	</div>
	<!-- /Loading more -->
</div>
<!-- /Admin apps -->