<div class="app-container location-dashboard-page" data-ng-controller="locationDashboardCtrl">
	<!-- No devices -->
	<div class="content-block devices-list-empty" data-ng-show="userDataLoaded && !user.locations.length">
		<div class="content-block__body g-text-center">
			<div class="devices-list-empty__icon">
				<i class="app-icon app-icon-no-devices"></i>
			</div>
			<div class="devices-list-empty__title">
				We can’t see any devices<br>installed just yet.
			</div>
		</div>
	</div>
	<!-- /No devices -->
	<div class="app-container__title" data-ng-show="currentLoc">
		<a href="#" 
		   class="location-dashboard-page__loc-title"
		   data-ui-sref="locationEdit({locId: currentLoc.id})">
			<span data-ng-if="currentLoc.name">{{currentLoc.name}}</span>
			<span data-ng-if="!currentLoc.name" class="no-name">&#60;no name&#62;</span>
			<i class="icon-pencil"></i>
		</a>
	</div>
	<!-- Blocks list -->
	<div class="content-blocks-list" data-ng-show="currentLoc">
		<!-- Apps -->
		<div class="content-block aqua-marine" data-ng-controller="locationDashboardDeviceCtrl">
			<div class="content-block__header">
				<a href="#" data-ui-sref="deviceApps({locId: currentLoc.id, deviceId: currentDevice.id})" >
					<i class="content-block__icon apps"></i>
					<span>Apps</span>
					<span 
						class="content-block__btn"
						data-ng-show="currentDevice"
						class="content-block__btn">
						+
					</span>
				</a>
			</div>
			<div class="content-block__body container-vertical-center">
				<!-- Connect your first device -->
				<div 
					class="content-alert-block g-text-center container-vertical-center__content" 
					data-ng-show="!devices.length">
					<div class="content-alert-block__icon">
						<i class="app-icon app-icon-no-apps"></i>
					</div>
					<div class="content-alert-block__title">
						Devices not found
					</div>
				</div>
				<!-- /Connect your first device -->
				<!-- Apps loading -->
				<div 
					data-ng-show="appsLoading" 
					class="g-text-center container-vertical-center__content">
					<i class="icon-spin4 animate-spin"></i>
				</div>
				<!-- /Apps loading -->
				<!-- Device -->
				<div 
					data-ng-show="!appsLoading && currentDevice"
					class="container-vertical-center__content">
					<!-- Activate your first app -->
					<div 
						class="content-alert-block g-text-center" 
						data-ng-show="!currentDevice.activeApps.length">
						<div class="content-alert-block__icon">
							<i class="app-icon app-icon-no-apps"></i>
						</div>
						<div class="content-alert-block__title">
							Activate your first App!
						</div>
						<div class="content-alert-block__btn">
							<a 
								href="#" 
								class="btn btn-blue"
								data-ui-sref="deviceApps({locId: currentLoc.id, deviceId: currentDevice.id})">
								Start now
							</a>
						</div>
					</div>
					<!-- /Activate your first app -->
					<!-- App Weights Control -->
					<div 
						data-ng-show="currentDevice.activeApps.length"
						class="location-dashboard-page__app-weights">
						<apps-weight-control 
							data-model="currentDevice.activeApps" 
							data-property="weight" 
							data-step="1" 
							data-total="100" 
							data-images="{{currentDevice.activeApps | appsToImgs}}" 
							data-change="deviceAppsWeightChanged($event, currentDevice)">
						</apps-weight-control>
						
					</div>
					<!-- /App Weights Control -->
					<div class="text-center location-dashboard-page__device-config">
						<a href="#" data-ui-sref="deviceConfig({deviceId: currentDevice.id})">Device configuration</a>
					</div>
				</div>
				<!-- /Device -->
			</div>
			<!-- Tabs -->
			<div class="content-block__tabs" data-ng-show="devices.length">
				<ul>
					<li 
						data-ng-repeat="device in devices" 
						data-ng-class="{'active': device.id == currentDevice.id}">
						<a href="#" data-ng-click="deviceTabClick($event, device)">{{device.name}}</a>
					</li>
				</ul>
			</div>
			<!-- /Tabs -->
		</div>
		<!-- /Apps -->
		<!-- Statistics -->
		<div 
			class="content-block lighter-purple" 
			data-ng-controller="locationDashboardStatsCtrl">
			<div class="content-block__header">
				<a href="#" data-ui-sref="locationStats({locId: currentLoc.id})" >
					<i class="content-block__icon statistics"></i>
					<span>Statistics</span>
					<span
						href="#" 
						data-ng-show="currentLoc"
						class="content-block__btn">
						+
					</span>
				</a>
			</div>
			<div class="content-block__body container-vertical-center">
				<!-- No statistics -->
				<div class="content-alert-block g-text-center container-vertical-center__content">
					<div class="content-alert-block__icon">
						<i class="app-icon app-icon-no-stats"></i>
					</div>
					<div class="content-alert-block__title">
						Your Pando needs<br>some time to learn.
					</div>
				</div>
				<!-- /No statistics -->
			</div>
		</div>
		<!-- /Statistics -->
	</div>
	<!-- /Blocks list -->
</div>