.location-dashboard-page{
	&__app-weights{
		padding: 0 15px;
	}
	.content-block__body{
		min-height: 298px;
		position: relative;
	}
	&__loc-title{
		[class^=icon]{
			visibility: hidden;
		}
		&, &:link, &:active, &:visited{
			color: $pinkish-grey;
			text-decoration: none;
		}
		&:hover{
			color: $pinkish-grey;
			text-decoration: underline;
			[class^=icon]{
				visibility: visible;
			}
		}
	}
	&__device-config{
		margin-top: 20px;
		a{
			&, &:link, &:visited, &:active{
				text-decoration: underline;
				color: $brownish-grey;
				font-size: 12px;
			}
			&:hover{
				text-decoration: underline;
				color: $brownish-grey;
				opacity: .7;
			}
		}
	}
}

.devices-list-empty{
	&__icon{
		margin-top: 78px;
	}
	&__title{
		margin-top: 29px;
		font-size: 21.1px;
		font-weight: bold;
		color: $bright-blue;
		margin-bottom: 83px;
	}
}