<form name="usersEditForm">
    <div>
        <md-input-container class="w-100">
            <label>First name</label>
            <input 
                required 
                type="text" 
                name="firstName"
                ng-model="user.firstName"
                ng-disabled="disabled">
            <div 
                class="md-input-message" 
                ng-messages="usersEditForm.firstName.$error" 
                ng-show="!usersEditForm.firstName.$valid && usersEditForm.firstName.$dirty" 
                multiple>
                <div ng-message="required">First name is required.</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="w-100">
            <label>Last name</label>
            <input 
                required 
                type="text" 
                name="lastName"
                ng-model="user.lastName"
                ng-disabled="disabled">
            <div 
                class="md-input-message" 
                ng-messages="usersEditForm.lastName.$error" 
                ng-show="!usersEditForm.lastName.$valid && usersEditForm.lastName.$dirty" 
                multiple>
                <div ng-message="required">Last name is required.</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="w-100">
            <label>Email</label>
            <input 
                required 
                type="email" 
                name="email"
                ng-pattern="/^.+@.+\..+$/"
                ng-model="user.email"
                ng-disabled="disabled">
            <div 
                class="md-input-message" 
                ng-messages="usersEditForm.email.$error" 
                ng-show="!usersEditForm.email.$valid && usersEditForm.email.$dirty" 
                multiple>
                <div ng-message="required">Email is required.</div>
                <div ng-message="pattern">It must be an e-mail address.</div>
            </div>
        </md-input-container>
    </div>
    <div ng-if="!hidePassword">
        <md-input-container class="w-100">
            <label>Password</label>
            <input 
                required 
                type="password" 
                name="password"
                ng-minlength="4"
                ng-model="user.password"
                ng-disabled="disabled">
            <div 
                class="md-input-message" 
                ng-messages="usersEditForm.password.$error" 
                ng-show="!usersEditForm.password.$valid && usersEditForm.password.$dirty" 
                multiple>
                <div ng-message="required">Password is required.</div>
                <div ng-message="minlength">Your password is too short.</div>
            </div>
        </md-input-container>
    </div>
</form>