<div class="settings-form-block " data-ng-controller="companyIntegrCtrl">
	<div class="integr-list">
		<div 
			class="row integr-list-item" 
			data-ng-repeat="integr in user.company.integrations">
			<div class="col-md-10">
				<a href="{{providerUrl(integr)}}" class="integr-list-item__logo"  target="_blank">
					<img data-ng-src="{{providerImgUrl(integr)}}" alt="{{providerName(integr)}}">
				</a>
				<div class="integr-list-item__desc">
					{{providerDesc(integr)}}
				</div>
			</div>
			<div class="col-md-2 integr-list-item__actions">
				<!-- <md-button
					class="md-raised md-primary integr-btn"
					data-ng-href="{{integr.url}}"
					target="_blank" 
					data-ng-hide="(integr.status == 'ENABLED') || integr.loading">
					Enable
				</md-button> -->
				<md-button
					class="md-raised md-primary integr-btn"
					data-ng-click="enableItegrClicked(integr)"
					target="_blank" 
					data-ng-hide="(integr.status == 'ENABLED') || integr.loading">
					Enable
				</md-button>
				<md-button 
					class="md-raised md-warn" 
					data-ng-click="disableItegrClicked(integr)"
					data-ng-show="(integr.status == 'ENABLED') && !integr.loading">
					Disable
				</md-button>
				<div class="text-right" data-ng-show="integr.loading">
					<md-progress-circular md-mode="indeterminate" md-diameter="40px" class="md-center"></md-progress-circular>
				</div>
			</div>
		</div>
	</div>
</div>