.integr{
	&-list{
		&-item{
			border-bottom: 1px solid $pando-color-gray-light;
			padding: 16px 0;
			&:last-child{
				border-bottom: none;
			}
			&__logo{
				img{
					height: 40px;
				}
			}
			&__desc{
				margin-top: 15px;
				color: $pando-color-dark;
			}
			&__actions{
				md-button{
					width: 100%;
				}
			}
		}
	}
	&-btn{
		font-size: 14px;
		line-height: 36px;
	}
}