<div class="auth-container">
    <div class="auth-container__title">
        Please Log In
    </div>
    <!-- Content -->
    <div class="auth-container__content">
        <!-- Tabs -->
        <!--
        <ul class="tabs-flat">
            <li class="active"><a data-ui-sref="auth.signIn">Log In</a></li>
            <li><a data-ui-sref="auth.signUp">Register</a></li>
        </ul>
        -->
        <!-- /Tabs -->
        <!-- Form -->
        <form class="form-flat" name="dataForm" data-ng-controller="SigninCtrl">
            <div class="form-flat-row-small">
                <!-- Email -->
                <md-input-container class="form-flat-input-text">
                    <label>Email</label>
                    <input required
                           type="email"
                           name="email"
                           data-ng-model="data.email"
                           data-focus-me="focus.email"
                           data-ng-keypress="fieldKeyPressed($event, 'email')"
                           data-ng-pattern="/^.+@.+\..+$/" />
                    <div 
                        class="md-input-message" 
                        data-ng-show="dataForm.email.$invalid && dataForm.email.$touched" 
                        data-ng-messages="dataForm.email.$error" 
                        multiple>
                        <div data-ng-message="required">Email is required.</div>
                        <div data-ng-message="pattern">It must be an e-mail address.</div>
                    </div>
                </md-input-container>
                <!-- /Email -->
            </div>
            <div class="form-flat-row-small">
                <!-- Pass -->
                <md-input-container class="form-flat-input-text">
                    <label>Password</label>
                    <input 
                        required
                        type="password"
                        name="password"
                        data-ng-minlength="4"
                        data-ng-model="data.password"
                        data-focus-me="focus.pass"
                        data-ng-keypress="fieldKeyPressed($event, 'pass')">
                    <div 
                        data-ng-messages="dataForm.password.$error"
                        data-ng-show="dataForm.password.$invalid && dataForm.password.$touched"
                        multiple>
                        <div data-ng-message="required">Password is required.</div>
                        <div data-ng-message="minlength">Your password is too short.</div>
                    </div>
                </md-input-container> 
                <!-- /Pass -->
            </div>
            <div class="form-flat-row  g-text-center no-margin-top">
                <div 
                    class="form-flat-err"
                    data-ng-class="{'not-showed': !authWarning}">
                    Log In error. Please check your Email and Password.
                </div>
            </div>
            <div class="form-flat-row g-text-center">
                <!-- Continue btn -->
                <a 
                    class="btn-flat green bordered"
                    data-ng-class="{'loading': loading}" 
                    data-ng-disabled="!dataForm.$valid" 
                    data-ng-click="submitClicked()">
                    Continue
                </a>
                <!-- /Continue btn -->
            </div>
        </form>
        <!-- /Form -->
        <!-- Restore pass -->
        <div class="auth-container__reset-pass  g-text-center">
            <!-- Restore pass btn -->
            <a class="btn-flat-link" data-ui-sref="auth.forgotPass">
                Forgot your password?
            </a>
            <!-- /Restore pass btn -->
        </div>
        <!-- /Restore pass -->
    </div>
    <!-- /Content -->
    <!-- Footer -->
    <div class="auth-container__footer">
        <div class="auth-container-copyright">
            © 2016 Pando Inc. All rights reserved.<br/>
            <a data-ui-sref="page.privacy" target="_blank">Privacy policy</a><br/>
            <span data-ng-if="version">v{{version}}</span>
        </div>
    </div>
    <!-- /Footer -->
</div>