$pando-color-green-light: #00e3db;

$pando-color-violet: #a92ff7;
$pando-color-violet-light: #bc69f1;
$pando-color-violet-dark: #9425ec;

$pando-color-gray: #b5b5b5;
$pando-color-gray-light: lighten($pando-color-gray, 12.5%);;
$pando-color-gray-dark: darken($pando-color-gray, 30%);

$pando-color-blue: #0440e9;

$pando-color-dark: #374a5c;

$pando-color-red: rgb(213,0,0);
$red: rgb(213,0,0);



$aqua-marine: #4de2dc;
$vibrant-blue: #003af6;
$white: #f8f8f8;
$white-two: #f2f2f2;
$bright-blue: #1467ff;
$charcoal-grey: #38384f;
$brownish-grey: #606060;
$clear-blue: #2e66fc;
$lighter-purple: #ad44f1;
$pinkish-grey: #bababa;
$aquamarine: #03cdc5;
$greyish-brown: #424242;
$warm-grey: #878787;
$black: #2f2e2e;
$white-three: #eaeaea;
$white-four: #e3e3e3;
$electric-blue: #005aff;
$warm-grey-two: #7c7c7c;
$greyish: #adadad;
$pinkish-grey-two: #c3c3c3;
$white-five: #d7d7d7;
$pinkish-grey-three: #c7c7c7;
$blue: #0440e9;
$clear-blue-two: #2c7efb;