$pando-font-main: "Futura", "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$pando-font-main-light: "Futura Light", "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$pando-font-main-heavy: "Futura Heavy", "Roboto", "Helvetica Neue", Arial, sans-serif !default;

$pando-font-gotham: "Gotham Round";

/*============ Gotgam ============*/

@font-face{
  font-family: "Gotham Round";
  src: url(../fonts/gotham/GothamRnd-Medium.eot);
  src: local("GothamRoundMedium"),
  url(../fonts/gotham/GothamRnd-Medium.woff) format('woff'),
  url(../fonts/gotham/GothamRnd-Medium.ttf) format('truetype'),
  url(../fonts/gotham/GothamRnd-Medium.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Gotham Round";
  src: url(../fonts/gotham/GothamRnd-MedIta.eot);
  src: local("GothamRoundMedium"),
  url(../fonts/gotham/GothamRnd-MedIta.woff) format('woff'),
  url(../fonts/gotham/GothamRnd-MedIta.ttf) format('truetype'),
  url(../fonts/gotham/GothamRnd-MedIta.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

/*============ Futura ============*/

$font-futura: 'Futura', sans-serif;

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/FuturaStd-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/FuturaStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/FuturaStd-MediumOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-MediumOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-MediumOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-MediumOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/FuturaStd-BoldOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-BoldOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-BoldOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-BoldOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: bold;
       font-style: italic;
}

@font-face {
  font-family: 'Futura Light';
  src: url('../fonts/futura/FuturaStd-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Light';
  src: url('../fonts/futura/FuturaStd-LightOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-LightOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-LightOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-LightOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: 'Futura Medium';
  src: url('../fonts/futura/FuturaStd-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Medium';
  src: url('../fonts/futura/FuturaStd-MediumOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-MediumOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-MediumOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-MediumOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}


@font-face {
  font-family: 'Futura Heavy';
  src: url('../fonts/futura/FuturaStd-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Heavy';
  src: url('../fonts/futura/FuturaStd-HeavyOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-HeavyOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-HeavyOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-HeavyOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-HeavyOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}


@font-face {
  font-family: 'Futura Book';
  src: url('../fonts/futura/FuturaStd-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Book';
  src: url('../fonts/futura/FuturaStd-BookOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-BookOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-BookOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-BookOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: 'Futura Condensed';
  src: url('../fonts/futura/FuturaStd-Condensed.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-Condensed.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-Condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-Condensed.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed';
  src: url('../fonts/futura/FuturaStd-CondensedBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-CondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-CondensedBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-CondensedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-CondensedBold.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed';
  src: url('../fonts/futura/FuturaStd-CondensedBoldObl.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-CondensedBoldObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-CondensedBoldObl.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-CondensedBoldObl.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-CondensedBoldObl.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: bold;
       font-style: italic;
}

@font-face {
  font-family: 'Futura Extra Bold';
  src: url('../fonts/futura/FuturaStd-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Extra Bold';
  src: url('../fonts/futura/FuturaStd-ExtraBoldOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-ExtraBoldOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-ExtraBoldOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-ExtraBoldOblique.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: 'Futura Condensed Extra Bold';
  src: url('../fonts/futura/FuturaStd-CondensedExtraBd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-CondensedExtraBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-CondensedExtraBd.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-CondensedExtraBd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-CondensedExtraBd.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}


@font-face {
  font-family: 'Futura Condensed Extra Bold';
  src: url('../fonts/futura/FuturaStd-CondExtraBoldObl.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-CondExtraBoldObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-CondExtraBoldObl.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-CondExtraBoldObl.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-CondExtraBoldObl.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: bold;
       font-style: italic;
}

@font-face {
  font-family: 'Futura Condensed Light';
  src: url('../fonts/futura/FuturaStd-CondensedLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-CondensedLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-CondensedLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-CondensedLight.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed Light';
  src: url('../fonts/futura/FuturaStd-CondensedLightObl.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/FuturaStd-CondensedLightObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/FuturaStd-CondensedLightObl.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/FuturaStd-CondensedLightObl.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/FuturaStd-CondensedLightObl.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: italic;
}