<div 
    class="app-container device-config-page" 
    data-ng-controller="deviceConfigCtrl">
    <!-- Loading -->
    <div class="text-center" data-ng-show="!device">
        <i class="icon-spin4 animate-spin"></i>
    </div>
    <!-- /Loading -->
    <!-- Title -->
    <div class="app-container__title app-container-navigation">
		<!-- Navigation -->
		<div class="app-container-navigation__navigation">
			<span class="app-container-navigation__back">
				<a href="#"
				   data-ui-sref="locationWithId({locId: device.locationId})">
					<i class="app-icon app-icon-go-back">Go back</i>
				</a>
			</span>
			<span class="app-container-navigation__sep">&#124;</span>
			<span class="app-container-navigation__text">
				{{device.name}}
			</span>
		</div>
		<!-- /Navigation -->
	</div>
    <!-- /Title -->
    <!-- Configs -->
    <div class="content-block aqua-marine" data-ng-show="device">
        <div class="content-block__header">
            <span>configuration</span>
        </div>
        <div class="content-block__body container-vertical-center">
            <!-- Loading -->
            <div class="text-center" data-ng-show="dataProcessing">
                <i class="icon-spin4 animate-spin"></i>
            </div>
            <!-- /Loading -->
            <!-- Form -->
            <form name="deviceConfForm" data-ng-hide="dataProcessing">
                <!-- Name -->
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="w-100 md-input-container">
                            <label>Name</label>
                            <input data-ng-model="deviceData.name" required>
                        </md-input-container>
                    </div>
                </div>
                <!-- /Name -->
                <!-- Location -->
                <!--
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="w-100">
                            <label>Location</label>
                            <md-select 
                                required
                                data-ng-model="deviceData.locationId" 
                                placeholder="Device location">
                                <md-option data-ng-value="loc.id" ng-repeat="loc in user.locations">{{ loc.name }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                -->
                <!-- /Location -->
                <!-- TimeZone -->
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="w-100">
                            <label>Time zone</label>
                            <md-select 
                                required
                                data-ng-model="deviceData.timezone" 
                                placeholder="Select time zone">
                                <md-option data-ng-value="opt.val" ng-repeat="opt in timeZones">{{ opt.name }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <!-- /TimeZone -->
                <!-- Resolution -->
                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-show="deviceData.hardwareConfiguration.availableResolutions.length">
                            <div class="form-group">
                                <md-checkbox data-ng-model="deviceData.hardwareConfiguration.autoResolution" aria-label="Auto resolution"> Auto resolution </md-checkbox>
                            </div>
                            <div  class="form-group" data-ng-hide="deviceData.hardwareConfiguration.autoResolution">
                                <md-input-container>
                                    <label>Dimension</label>
                                    <md-select data-ng-model="deviceData.hardwareConfiguration.resolutionCode">
                                        <md-option data-ng-repeat="resolution in config.hardwareConfiguration.availableResolutions track by resolution.code" value="{{resolution.code}}">
                                            {{resolution.width}} x {{resolution.height}} ({{resolution.rate}} Hz)
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div data-ng-hide="deviceData.hardwareConfiguration.availableResolutions.length">
                            <div style="margin-bottom: 10px;"><b>Your display support only one resolution.</b></div>
                        </div>
                    </div>
                </div>
                <!-- /Resolution -->
                <!-- Rotation -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <b><label for="input_device_orientation" style="padding-right: 10px; margin-left: 4px;">Rotation</label></b>
                            <md-radio-group data-ng-model="deviceData.hardwareConfiguration.rotation" id="input_device_orientation" style="position: relative; top: -2px">
                                <md-radio-button value="0">0</md-radio-button>
                                <md-radio-button value="90">90</md-radio-button>
                                <md-radio-button value="180">180</md-radio-button>
                                <md-radio-button value="270">270</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div>
                <!-- /Rotation -->
                <!-- Controll buttons -->
                <div class="row">
                    <div class="col-md-2">
                        <a  class="btn btn-blue w-100" 
                            data-ng-class="{'btn-loading': saveProcessing}"
                            data-ng-click="saveClicked()">
                            Save
                        </a>

                    </div>
                    <div class="col-md-2">
                        <a  class="btn w-100" 
                            data-ng-click="cancelClicked()">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <a  class="btn btn-blue w-100" 
                            data-ng-class="{'btn-loading': restartProcessing}"
                            data-ng-click="restartClicked($event)">
                            Restart
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a  class="btn btn-red w-100" 
                            data-ng-class="{'btn-loading': removingProcessing}"
                            data-ng-click="removeClicked($event)">
                            Remove
                        </a>
                    </div>
                </div>
                <!-- /Controll buttons --> 
            </form>
            <!-- /Form -->
        </div>
    </div>
    <!-- /Configs -->
</div>