<div class="app-modal">
    <a href="#" class="app-modal__close" data-ng-click="cancel()"></a>
    <div class="text-center app-modal__header">
        <span>Warning</span>
    </div>
    <div class="app-modal__body">
        By enabling mirroring all device's content from the current location will be overrided by content of current device. Make sure that you will not lose any content. Are you sure you want to enable mirroring?
    </div>
    <div class="app-modal__footer text-right">
        <a 
            href="#"
            class="btn" 
            data-ng-click="cancel()">
            Cancel
        </a>
        <a 
            href="#"
            class="btn btn-blue" 
            data-ng-click="ok()">
            Enable
        </a>
    </div>
</div>