md-backdrop.md-dialog-backdrop{
    z-index: $zindex-modal-background;
}
.md-dialog-container {
    z-index: $zindex-modal-background + 1; // higher than the backdrop
}


.ui-material-list {
    md-checkbox {
        margin-bottom: 0;
    }
    md-icon,
    .md-icon-button {
        line-height: 20px;
        margin-right:5px;
    }
}

// Datepicker
.md-datepicker-calendar-pane .md-datepicker-input-mask {
    width: auto;
}

// Material Toast
md-toast {
    z-index: 999999 !important;
    position: fixed !important;
}

// Tab
.md-primary {
    md-tabs-wrapper {
        md-prev-button,
        md-next-button {
            md-icon {
                color: $gray-lighter;
            }
        }
    }
}

// Progress circular

.progress__unsized{
    position: absolute;
}

.b-progress-circular_center{
    text-align: center;
    md-progress-circular{
        margin-left: auto;
        margin-right: auto;
    }
}

md-progress-circular.md-center{
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto;
}



/*============ md-input ============*/

.md-input-message{
    position: absolute !important;
    bottom: 0px;
}

/*============ custom component's classes ============*/

.md-black-border{
    box-sizing: border-box;
    border: 6px solid rgba(0,0,0,0.5);
}

/*============ Autocomplete ============*/

.full-autocomplete{
    .dropdown-menu{
        right: 2px;
    }
}

/*============ Select menu ============*/

.md-select-menu-container{
    z-index: 2000 !important;
}

/*============ Tabs ============*/

.tab-content{
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-message{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    h3{
        margin-bottom: 20px;
    }
}

.tab-big-message{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
}

.tab-small-message{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}


/*============ File upload zone ============*/

.ngf-file-upload-zone{
    width: 100%;
    border-radius: 2px;
    border: 1px dashed #ddd;
    position: relative;
    height: 150px;
    text-align: center;
    & > div{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

