<h1>PANDO PRIVACY STATEMENT</h1>
<p>Pando is all about strengthening communities, which means we care about our neighbors.</p>
<p>Every human being has a right to privacy, and we want you to feel safe in the knowledge that we would never violate that right.</p>
<p>The data we collect is the basic information that can be read from a Wi-Fi signal. It does not include any identifiers such as name, age, gender or preferences. Nothing we gather or include in our reports could ever be connected to a specific individual.</p>
<p>To keep it simple, and in the spirit of community, here is a list of information we DO collect:</p>
<ul>
<li>The presence of any wi-fi enabled device near a pando location</li>
<li>The device’s signal strength</li>
<li>The device’s Media Access Code (MAC) address</li>
</ul>
<p>A MAC address is a unique code assigned to every mobile device.</p>
<p>The MAC address cannot be used on its own to identify an individual. Learn more about MAC addresses here: <a href="https://en.wikipedia.org/wiki/MAC_address" target="_blank">https://en.wikipedia.org/wiki/MAC_address</a></p>
<p>We also acknowledge that it is anyone’s right to opt out of communicating this information to us. To do that, you can either simply turn off your Wi-Fi.</p>
<p>We communicate this data to our clients in a format that speaks to the behavior of the group, not the individual.</p>
<p>For example, we are able to tell a client how many people came in their store each day, and how that may change over time.</p>
<p>We only share this data with our clients (retail owners). We do not sell or provide data to third parties. </p>
<p>Our mission is to improve the experience of shopping, eating and hanging out in a neighborhood for both the patrons and the business owners & employees. The data we provide only serves to help businesses create a more engaging, pleasant environment for their customers. We’re good neighbors, and so are our clients. Privacy is a priority.</p>