<div data-ng-controller="conversionChartCtrl">
	<!-- Conversion pipe chart container -->
	<div class="b-chart-container">
		<div class="b-chart-container__title">
			Conversions
		</div>
		<div class="b-chart-container__content">
			<!-- Chart with widgets -->
			<div class="b-chart-with-widgets b-location-stat__conv-doughnut">
				<!-- Chart -->
				<div class="b-chart-with-widgets__chart">
					<!-- Chart view -->
					<div class="b-chart b-chart_doughnut">
					    <div class="b-chart__wrap">
					        <div class="b-chart__chart" data-ng-hide="loading || loadingErr">
					            <canvas class="chart chart-doughnut" 
					                    chart-data="doughnutChart.data" 
					                    chart-labels="doughnutChart.labels"
					                    chart-options="doughnutChart.options"
					                    chart-colors="doughnutChart.colors"
					                    width="188"
					                    height="188">
					            </canvas>
					        </div>
					        <!-- Chart progress -->
					        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
					            <div class="b-icon-progress"></div>
					        </div>
					        <!-- /Chart progress -->
					        <!-- Chart retry -->
					        <div class="b-chart__retry"  data-ng-show="loadingErr">
					            <div class="b-chart__retry-title">Chart loading error</div>
					            <div class="b-chart__retry-btn">
					                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
					            </div>
					        </div>
					        <!-- /Chart retry -->
					        <!-- Chart info -->
					        <div class="b-chart__center" data-ng-hide="loading || loadingErr">
					        	<div class="b-chart-info">
					        		<div class="b-chart-info_violet-dark b-chart-info_bold">
					        			<i class="{{valuesChangingArrowClass(analyticsData.eventsCount.prev.terminalOpportunity, analyticsData.eventsCount.cur.terminalOpportunity)}}"></i>
					        			{{valuesChangingInProcents(analyticsData.eventsCount.prev.terminalOpportunity, analyticsData.eventsCount.cur.terminalOpportunity)}}
					        		</div>
					        	</div>
					        </div>
					        <!-- /Chart info -->
					    </div>
					</div>
					<!-- /Chart view -->
				</div>
				<!-- /Chart -->
				<!-- Desc -->
				<div class="b-chart-with-widgets__widgets">
					<!-- New visitors -->
					<div class="b-amount-widget b-amount-widget_blue b-amount-widget_lg">
						<div class="b-amount-widget__info">
							<span class="b-amount-widget__val">
								{{analyticsData.eventsCount.cur.terminalOpportunity}}
							</span>
						</div>
						<div class="b-amount-widget__label">
							Total opportunity
						</div>
					</div>
					<!-- /New visitors -->
				</div>
				<!-- Desc -->
			</div>
			<!-- /Chart with widgets -->
		</div>
	</div>
	<!-- /Conversion pipe chart container -->
	<!-- Conversion linear chart container -->
	<div class="b-chart-container">
		<div class="b-chart-container__content">
			<!-- Chart view -->
			<div class="b-chart b-chart_line">
			    <div class="b-chart__wrap">
			        <div class="b-chart__chart b-location-stat__conv-line-chart" data-ng-hide="loading || loadingErr">
			            <canvas class="chart chart-line" 
			            		height="370" 
			                    chart-data="lineChart.data" 
			                    chart-series="lineChart.series"
			                    chart-labels="lineChart.labels"
			                    chart-options="lineChart.options"
			                    chart-colors="lineChart.colors"
			                    chart-dataset-override="lineChart.datasetOverride">
			            </canvas>
			        </div>
			        <!-- Chart progress -->
			        <div class="b-chart__progress" data-ng-show="loading && !loadingErr">
			            <div class="b-icon-progress"></div>
			        </div>
			        <!-- /Chart progress -->
			        <!-- Chart retry -->
			        <div class="b-chart__retry"  data-ng-show="loadingErr">
			            <div class="b-chart__retry-title">Chart loading error</div>
			            <div class="b-chart__retry-btn">
			                <a href="#" data-ng-click="retryClick($event)">Click to try again</a>
			            </div>
			        </div>
			        <!-- /Chart retry -->
			    </div>
			</div>
			<!-- /Chart view -->
		</div>
	</div>
	<!-- /Conversion linear chart container -->
	<!-- Conversion widgets -->
	<div class="b-chart-container">
		<div class="b-chart-container__content">
			<div class="b-widgets-container">
				<!-- Walkby -->
				<div class="b-amount-widget b-amount-widget_green-light">
					<div class="b-amount-widget__info">
						<span class="b-amount-widget__val">
							<i class="{{valuesChangingArrowClass(analyticsData.eventsCount.prev.walkbys, analyticsData.eventsCount.cur.walkbys)}}"></i>
							{{analyticsData.eventsCount.cur.walkbys}}
						</span>
						<span class="b-amount-widget__proc">
							{{valuesChangingInProcents(analyticsData.eventsCount.prev.walkbys, analyticsData.eventsCount.cur.walkbys)}}
						</span>
					</div>
					<div class="b-amount-widget__label">
						Walkby
					</div>
				</div>
				<!-- /Walkby -->
				<!-- Bounces -->
				<div class="b-amount-widget b-amount-widget_violet">
					<div class="b-amount-widget__info">
						<span class="b-amount-widget__val">
							<i class="{{valuesChangingArrowClass(analyticsData.eventsCount.prev.bounces, analyticsData.eventsCount.cur.bounces)}}"></i>
							{{analyticsData.eventsCount.cur.bounces}}
						</span>
						<span class="b-amount-widget__proc">
							{{valuesChangingInProcents(analyticsData.eventsCount.prev.bounces, analyticsData.eventsCount.cur.bounces)}}
						</span>
					</div>
					<div class="b-amount-widget__label">
						Bounces
					</div>
				</div>
				<!-- /Bounces -->
				<!-- Visits -->
				<div class="b-amount-widget b-amount-widget_gray">
					<div class="b-amount-widget__info">
						<span class="b-amount-widget__val">
							<i class="{{valuesChangingArrowClass(analyticsData.eventsCount.prev.bounces, analyticsData.eventsCount.cur.bounces)}}"></i>
							{{analyticsData.eventsCount.cur.visits}}
						</span>
						<span class="b-amount-widget__proc">
							{{valuesChangingInProcents(analyticsData.eventsCount.prev.visits, analyticsData.eventsCount.cur.visits)}}
						</span>
					</div>
					<div class="b-amount-widget__label">
						Visits
					</div>
				</div>
				<!-- /Visits -->
			</div>
		</div>
	</div>
	<!-- /Conversion widgets -->
</div>